[2019-02-04 09:34] rusbrain opened #1 "Layout bug (right column)"
[when logged in](https://i.ibb.co/R9ZP473/001.jpg)

[2019-02-04 09:37] rusbrain opened #2 "Double-flag in friends list"
[Korean flag for every user in friends list along with a true flag](https://i.ibb.co/PCbTzMN/002.jpg)

[2019-02-04 09:45] rusbrain opened #3 "Replay add layout bug"
[Read as "Локация" even if the field is otherwise](https://i.ibb.co/8rx1TJ9/003.jpg)

[2019-02-04 09:56] rusbrain commented on #3
[Eventually could not add the replay](https://i.ibb.co/3szxKPn/006.jpg)

[2019-02-04 09:56] rusbrain commented on #3
[Please change replays sorting - newest first](https://i.ibb.co/4Yc1h9F/004.jpg)

[2019-02-04 09:59] rusbrain commented on #3
[Pagination, layout and scroll issues in admin panel replays section](https://i.ibb.co/d7vp7ff/005.jpg)

[2019-02-04 10:00] rusbrain commented on #3
Scrolling is actually an issue throughout entire Admin panel

[2019-02-07 16:34] rusbrain opened #4 "Header image"
Please update header [image](http://reps2.ru/files/reps4.png)

[2019-02-07 20:50] rusbrain opened #5 "Hidden data"
[User's e-mail should be hidden and visible to admins only (via admin panel or on the website)](http://reps.testsoft.org/user/3892)
[Reputation author should be visible to admins only](http://reps.testsoft.org/user/3892/get_rating)

[2019-02-07 20:52] rusbrain opened #6 "Password reset not working"
[Password reset not working](http://reps.testsoft.org/password/reset)

[2019-02-07 20:54] rusbrain opened #7 "Endorse pagination with jQuery"
Please endorse pagination with jQuery to load new content without complete page reloading.
For example [here](http://reps.testsoft.org/replay/4?page=1)

[2019-02-07 21:19] rusbrain opened #8 "To amend forum post logic"
Every new replay uploaded, every photo uploaded to the gallery and every news post should be treated as a new forum topic. If the current logic is different - please implement necessary updates.

Thus, what you refer as a "comment" should in fact be reply to the forum topic (a post within the forum topic).

Every post should have +1 / -1 scoring button available.

Changing the reputation should be

[2019-02-07 21:22] rusbrain opened #9 "Finalise .rep file parser and Youtube embedding for Replays section"
Please make a .rep file parser. More information available [here](http://nova.wolfwork.com/dataMining.html).

Huge archive of rep files to test your parser is [here](http://bwreplays.com/p3).

The parser should parse:
- Player 1 name
- Player 1 race (Terran, Zerg, Protoss)
- Player 1 APM
- Player 2 name
- Player 2 race (Terran, Zerg, Protoss)
- Player 2 APM
- Game duration
- Map name
- Game date

[2019-02-11 13:32] vn2015 commented on #7
It concerns only user part or user part + admin part?

[2019-02-11 13:51] rusbrain commented on #7
user+admin, please

[2019-03-18 00:44] rusbrain opened #10 "Post sorting"
[Please amend post sorting: latest to the bottom of the page.](http://reps.ru/img/reps2ru_github11.jpg)

[2019-03-18 10:08] #1 closed, assigned to vn2015

[2019-03-18 10:08] #2 closed, assigned to vn2015

[2019-03-18 10:08] #4 closed, assigned to vn2015

[2019-03-18 10:08] #5 closed, assigned to vn2015

[2019-03-18 10:13] #3 closed, assigned to vn2015

[2019-03-18 10:14] #6 closed, assigned to vn2015

[2019-03-18 10:14] #7 closed, assigned to vn2015

[2019-04-24 18:16] rusbrain opened #11 "Topic id 35206 - posts not loading"
Exceptioms:
`Malformed UTF-8 characters, possibly incorrectly encoded
/var/www/reps2.0_alpha1/vendor/laravel/framework/src/Illuminate/Http/JsonResponse.php#75`

[Screenshot](https://ibb.co/f0n43G1)

[2019-04-24 18:27] rusbrain opened #12 "Make possible changing user email (via admin panel)"
Right not email change is impossible (gray) even for admins.
Please add such a possibility.

[Screenshot](https://ibb.co/Q9pGyrk)

[2019-04-24 18:31] rusbrain opened #13 "Friend list and ignore list add/ remove issue"
You can friend-add the same person a number of times. You cannot remove friends (friend removal button not working). [Screenshot](https://i.ibb.co/Jc2xnc1/2019-04-24-21-28-54.jpg)

You can ignore-add the same person a number of times. You cannot remove a person from ignore list (ignore removal button not working).  [Screenshot](https://i.ibb.co/1G2RQ3P/2019-04-24-21-28-58.jpg)

[2019-04-24 18:34] rusbrain opened #14 "User sending PM to himself result in a broken page"
Sending PM to yourself results in a broken page. [Screenshot](https://ibb.co/qddSQXQ)

[2019-04-24 18:42] rusbrain opened #15 "Newly added thread not shown in the latest active threads column (left)"
Column to the left should show most recently active thread (newly added, or commented).
[Screenshot](https://ibb.co/yQbvHT9)

[2019-04-24 18:46] rusbrain opened #16 "Incorrect smile patterns"
Open any thread. For example this: http://reps2.ru/forum/topic/42461.
Click "quote" any comment.
You will get a quoted text with rep[SMILE].ru

So in repS2.ru S2 was interchanged with a smile.

Earlier reps.ru considered :s2: pattern. Please amend.

[Screenshot](https://ibb.co/6YcQnqZ)

[2019-04-24 18:51] rusbrain opened #17 "Remove future date when adding new post"
[Screenshot](https://ibb.co/pWWn1Jy)

[2019-04-24 18:57] rusbrain opened #18 "Img upload"
Add img upload (jpg, gif, png) for moderators and admins only via the new thread/ new comment section. [Screenshot](https://ibb.co/YdjLwmM)

[2019-04-24 19:01] rusbrain opened #19 "Add custom link column"
Add an image banner section to the right column (img = link).

[Screenshot](https://ibb.co/1GSZTJg)

[2019-04-24 19:02] rusbrain opened #20 "Edit footer text via admin panel"
Make it possible to edit footer text via admin panel.
[Screenshot](https://ibb.co/CMXnKCB)

[2019-04-24 19:04] rusbrain opened #21 "Viewing user profile from admin result in broken page"
I've tried to open user profile via admin [gallery section](http://reps2.ru/admin_panel/user/gallery). Which resulted in [the following](https://ibb.co/XYq71bn).

[2019-04-24 19:24] rusbrain opened #22 "Hidden text not working when checking user's comments"
http://reps2.ru/user/comments
[Screenshot](https://i.ibb.co/ww8KyL4/IMAGE-2019-04-24-22-23-42.jpg)

[2019-04-24 20:00] rusbrain opened #23 "Can't add answers to poll"
I'm trying to add a poll. "Plus" button is inactive. I can't add more answer options.
[Screenshot](https://ibb.co/PrqSjQ1)

[2019-04-24 20:19] rusbrain opened #24 "Add flag and race icon in forum post/ comment"
[Screenshot](https://ibb.co/Vm59gLT)

Flags - according to country list in admin panel.
Races:
[Zerg](http://reps.ru/editor/zerg.gif), [Terran](http://reps.ru/editor/terran.gif) or [Protoss](http://reps.ru/editor/protoss.gif)

[2019-04-24 20:45] rusbrain opened #25 "User 13968 can't restore the password"
User ID 13968 tried to restore the password but received no email message (spam box checked as well). [Screenshot](https://ibb.co/jTrfFNw)

[2019-04-24 20:47] rusbrain opened #26 "Restore password via admin panel"
Please make it possible to restore password via admin panel.

[2019-04-25 00:46] rusbrain opened #27 "You can add reputation to yourself voting for your own posts"
You can add reputation to yourself voting for your own posts

[2019-04-26 10:11] rusbrain opened #28 "Viewing user's post reveals nothing"
I'm trying to click [Посты: 14](http://reps2.ru/user/14771) and eventually I'm redirected to the same page as started.

[2019-04-26 10:11] rusbrain commented on #28
Same Сайт: vk.com/nick_mironenko.

[2019-04-27 07:03] rusbrain opened #29 "Layout problem in admin panel. Edit user."
Can't see control icons, such as user edit. Can't scroll horizontally.
[Screenshot](https://ibb.co/55033Rb)

[2019-04-29 10:26] rusbrain opened #30 "reps1 replays missing"
No files in the past replays. Checked about 25 from various dates.
[Screenshot](https://ibb.co/TRS3QYC)

[2019-04-29 10:29] rusbrain opened #31 "New replay doesn't show on the main page"
[Screenshot](https://ibb.co/MGwHGYB)

[2019-04-29 10:34] rusbrain opened #32 "Newly added replay can't be downloaded"
Original *.rep file converted into *.bin with a random name.
[reps2.ru replay file](http://reps2.ru/replay/31452)
[Original replay, if needed](http://selecta.re/files/Eon-vs-Terran-zvt.rep_.zip)

[2019-04-30 04:47] Clockware opened #33 "Server logs me out consistently."
So far each time I login I get logged out after ~8hrs or so. I haven't found any "Remember me" option anywhere.
Unless it's because of frequent server updates/reboot, should be fixed.

[2019-05-21 08:58] #20 closed, assigned to vn2015

[2019-05-21 08:59] #17 closed, assigned to vn2015

[2019-05-21 09:00] #23 closed, assigned to vn2015

[2019-05-21 09:41] #32 closed, assigned to vn2015

[2019-05-21 10:11] #21 closed, assigned to vn2015

[2019-05-21 10:30] vn2015 commented on #13
Screenshot https://prnt.sc/nrcdb2

[2019-05-21 10:30] #13 closed, assigned to vn2015

[2019-05-21 10:40] #30 closed, assigned to vn2015

[2019-05-21 10:41] #11 closed, assigned to vn2015

[2019-05-21 10:42] #31 closed, assigned to vn2015

[2019-05-22 08:16] #16 closed, assigned to vn2015

[2019-05-22 09:59] #15 closed, assigned to vn2015

[2019-05-22 10:31] rusbrain commented on #28
Please make it possible to see user's history (available for any registered user).

[2019-05-22 10:38] rusbrain commented on #19
Even better instead of a random image: [Screenshot](https://i.ibb.co/j3Q5nHc/001.jpg)

[2019-05-22 11:07] rusbrain opened #34 "Can't add Youtube only replay"
Can't add a replay without a file (Youtube only replay): [Screenshot](https://ibb.co/sq2z7Tm)

[2019-05-22 11:16] rusbrain opened #35 "WYSIWYG stoped loading"
Can't see the editor's panel for some reason. [Screenshot](https://ibb.co/w4PbVL6)

[2019-05-22 11:52] rusbrain opened #36 "Expand post create/edit window (section)"
[Screenshot](https://ibb.co/Vtr1wyL)

[2019-05-22 12:09] ingArea commented on #36
Привет! Было бы здорово, если область для редактирования новости можно было развернуть на более широкую область, может и во весь экран. Если редактируешь большую новость, в узком окошке неудобно ориентироваться.
В идеале, иметь полноэкранный режим с двумя окнами - окном редактирования и окном конечного результата.

[2019-05-23 12:26] #27 closed, assigned to vn2015

[2019-05-23 12:28] #34 closed, assigned to vn2015

[2019-05-23 14:00] #36 closed, assigned to vn2015

[2019-05-23 14:01] #24 closed, assigned to vn2015

[2019-05-23 14:02] #25 closed, assigned to vn2015

[2019-05-23 14:02] #22 closed, assigned to vn2015

[2019-05-24 16:12] #35 closed, assigned to vn2015

[2019-05-24 16:12] rusbrain commented on #35
not the case anymore

[2019-05-24 16:13] #19 closed, assigned to vn2015

[2019-05-24 16:13] rusbrain commented on #12
seems to be done

[2019-05-24 16:13] #12 closed, assigned to vn2015

[2019-05-24 17:21] rusbrain opened #37 "Can't remove the replay"
Trying to delete replay via admin panel. [Screenshot](https://ibb.co/rQymHbC).

[2019-05-27 12:24] #28 closed, assigned to vn2015

[2019-05-27 18:53] rusbrain opened #38 "Make preview image clickable"
Same URL as thread name itself [Screenshot](https://ibb.co/R9RBxn4)

[2019-05-27 20:26] rusbrain opened #40 "Can't see map image in replays section"
[Screenshot](https://i.ibb.co/vxmMnd4/001.jpg)

[2019-05-28 17:30] rusbrain opened #41 "Newspost not shown up on the main page"
[Screenshot 1](https://ibb.co/FxRV0cp), [Screenshot 2](https://ibb.co/RzKzRKJ)

[2019-05-28 17:31] rusbrain opened #42 "Ability to change thread date via admin panel"
Please make it possible to change thread date via admin panel

[2019-05-28 17:36] rusbrain opened #43 "Uploading 16mb replay pack resulted in broken page"
[Screenshot](https://ibb.co/vdVCM1D)
Tried to upload [this pack](http://pub.kgp.su/dox/BroodWar_20th_Anniverrsary/Brood_War_20th-Anniversary-Lan.zip)

[2019-05-28 17:48] rusbrain opened #44 "Main page date/time of threads are not dynamic"
[Screenshot](https://ibb.co/VNBNQNt)

[2019-05-29 08:24] rusbrain opened #45 "Change ICQ logo to Discord logo"
Main page.
Change [this image](https://ibb.co/2dNn6Qk) to [https://i.ibb.co/vvDy1dD/discord-logo-vector.png](this)

[2019-05-29 08:26] rusbrain opened #46 "Remove "название" from the replay name"
[Screenshot](https://ibb.co/8rC5gSx)
**Pimpest Plays 2018: Flash vs 458** is enough. No need to add "Название:"

[2019-05-29 08:28] rusbrain commented on #45
Please also change "ICQ" in [user's profile](https://ibb.co/NNzN8jR) and in [admin page](https://ibb.co/Fs8YmYr).

[2019-05-29 08:34] rusbrain opened #47 ""Общий" forum is not shown on the main page"
"Общий" forum is not shown on the main page. [Screenshot](https://ibb.co/0tYnwQM)
Also, there is no common way to get into [forum list page](http://reps2.ru/forum).

[2019-05-29 08:38] rusbrain opened #48 "Admin page replay map pagination is not working"
Issue [here](http://reps2.ru/admin_panel/replay/map#).
[Screenshot](https://ibb.co/FVr76yJ)

[2019-05-29 08:49] rusbrain opened #49 "Admin add replay section enhancements"
[Screenshot](https://ibb.co/7KYJ9Kq)

1. Change "Gosy" to "Gosu".

2. Make map selection matching dynamic ([example](https://i.ibb.co/MCDzh7N/003.jpg))

3. Make version a text field

4. Change Score to five starts. Amend past replays rating as follows:
Best = 5 stars
Cool = 4 stars
10 = 3 stars
9 = 2 stars
8 = 1 star
7 = 0 stars

[2019-05-29 08:51] rusbrain opened #50 "Add random race icon"
Please add [random race icon](https://liquipedia.net/commons/images/0/0d/Ricon_small_bw.png) to [the list](https://i.ibb.co/p0ZPwhV/001.jpg).

[2019-05-29 08:56] rusbrain opened #51 "Add replays of the week column"
Please add [replays of the week column](https://ibb.co/D1gG54n). Should be only the [Gosu replays marked as ROTW](https://ibb.co/WWknC2J).

[2019-05-29 08:59] rusbrain opened #52 "Amend "Видео реплай" to "VOD""
Amend "Видео реплай" to "VOD". [Screenshot](https://ibb.co/w7Mrgbn)

[2019-05-29 09:02] rusbrain opened #53 "Adding country to a list - can't add flag"
I can't add a flag when I add a country to the country list. [Screenshot](https://ibb.co/G5zNHYZ)

[2019-05-29 09:09] rusbrain opened #54 "User profile enhancements"
[Screenshot](https://ibb.co/rmNynX5)

1. Make country list dynamic selection [(example)](https://i.ibb.co/MCDzh7N/003.jpg),
2. Add race selection.

Make both flag and race mandatory (can't register new user without country and race + can't save profile without country and race).

[2019-05-29 09:12] rusbrain opened #55 "Add race to show newly registered users"
Resolving #54 is mandatory prior to resolving this issue.

Add race near the flag to the right column of the newly registered users.
[Screenshot](https://ibb.co/N3mLxkH)

[2019-05-29 09:13] #40 closed, assigned to vn2015

[2019-05-29 09:13] #37 closed, assigned to vn2015

[2019-05-29 09:14] #38 closed, assigned to vn2015

[2019-05-29 09:19] rusbrain opened #56 "Can't move forum post to another section"
Can't move forum post to another section. I try to change, save, and eventually, section is not changed. Not working both from admin and main page.
[Screenshot](https://ibb.co/KXNmb7g)

[2019-05-29 09:21] rusbrain opened #57 "Poll is lost"
Polls are shown nowhere on the main page

[2019-05-31 13:04] #48 closed, assigned to vn2015

[2019-05-31 13:05] #46 closed, assigned to vn2015

[2019-05-31 13:06] #52 closed, assigned to vn2015

[2019-05-31 13:14] #44 closed, assigned to vn2015

[2019-05-31 15:42] rusbrain commented on #57
Please make the poll section visible but impossible to vote ("you have already voted in this poll") and the result shown.

[2019-05-31 16:22] rusbrain commented on #53
Resolved. Non-standard countries flags may be amended via html source code.
Example:
`<img src="/flags/editor/nr.png" alt="">`

[2019-05-31 16:23] #53 closed, assigned to vn2015

[2019-05-31 16:27] #47 closed, assigned to nobody

[2019-05-31 16:29] rusbrain commented on #50
[Screenshot](https://i.ibb.co/H7zhtFx/001.jpg)

[2019-05-31 16:35] rusbrain opened #58 "Rename "Последние форумы" into "Последние новости""
[Screenshot](https://ibb.co/k6QDGjZ)

[2019-05-31 17:06] #8 closed, assigned to vn2015

[2019-05-31 17:08] #29 closed, assigned to vn2015

[2019-06-03 13:30] #50 closed, assigned to vn2015

[2019-06-04 10:18] rusbrain opened #59 "Can't change user profile"
[Screenshot](https://i.ibb.co/6nD7zjy/001.jpg)
"Страна обязательна для заполнения.", albeit the country is already chosen, which ultimately block me from change saving.

[2019-06-04 13:10] #45 closed, assigned to vn2015

[2019-06-04 13:12] #54 closed, assigned to vn2015

[2019-06-04 13:13] #55 closed, assigned to vn2015

[2019-06-04 13:15] #56 closed, assigned to vn2015

[2019-06-04 13:16] #58 closed, assigned to vn2015

[2019-06-04 13:20] #43 closed, assigned to vn2015

[2019-06-04 13:21] vn2015 commented on #47
On the side of the main display all the main forums are displayed, you can mark the "General" section in the admin panel as the main section and it will appear on the left and in the menu. I marked it in the admin panel now - I made it the main one. You can bookmark any section.

[2019-06-04 13:29] rusbrain commented on #10
No changes implemented: [Screenshot](https://ibb.co/p3TGwYh)

[2019-06-04 13:38] vn2015 commented on #10
Should it be like on first picture?
http://reps.ru/img/reps2ru_github11.jpg

[2019-06-04 14:08] rusbrain commented on #10
Oldest post at the top of the first page.
Latest post at the bottom of the last page.

Whenever the user opens a thread, the latest page should be loaded.
Same as [original reps.ru](http://reps.ru/forum.php?act=lang&lang=rus&topic=37502&page=687#24044), or [teamliquid](https://tl.net/forum/bw-tournaments/548254-nyc-lan-tournament-sat-july-13th?page=3).

[2019-06-05 08:40] rusbrain opened #60 "Adding a smile in reply resulted in corrupted text"
See comment from Rus_Brain. Adding an S16 smile resulted in corrupted text.
[Screenshot](https://ibb.co/PW0mGFZ)

[2019-06-05 08:44] rusbrain opened #61 "Post numeration is corrupted"
See post from Rus_Brain. He tried to quote post by 4p)MickeyMouse and text show as if Rus_Brain quoted post #1. However, Mickey's post is obviously a second one.
[Screenshot](https://ibb.co/PW0mGFZ)

[2019-06-05 08:46] rusbrain opened #62 "Can't edit the post"
There is no edit button. It is only possible to remove the reply from the admin panel. Please make edit possible.
- Edit possible by user, who posted: within 10 minutes from the post;
- Edit possible by admin: whenever.
There should a be a remark: "Пост был отредактирован [date] [time]".
[Screenshot](https://ibb.co/SR0vVhR)

[2019-06-07 07:10] widedeveloper opened #63 "search field"
when I input keywords or select options in search fields and submit, it should shows the values in search box so that can notice original search fields values
[screenshot](https://ibb.co/CnQk7fx)

[2019-06-07 07:30] widedeveloper opened #64 "in banner, search field validation"
when click search icon, validate the keywords value, or search all ...
[screenshot](https://ibb.co/x5gFLWY)

[2019-06-07 15:15] widedeveloper opened #65 "database backup every day in backgound"
our database should be backup in server everyday with background scheduling

[2019-06-07 16:14] widedeveloper opened #66 "new user name align issue on New Users of right side bar"
user name should be aligned text-right in right side bar [screenshot](https://ibb.co/0MSrRGz)

[2019-06-07 17:50] widedeveloper opened #67 "replay search field bug(sorting)"
If i select sorting select option in replays serach, it shows validation error
[screenshot](https://ibb.co/sRkC8Wj)

[2019-06-10 05:35] #66 closed, assigned to nobody

[2019-06-10 06:48] rusbrain commented on #62
_Please disable post edit after 60 minutes for "user" role. But leave the edit possible for admins. "%username% отредактировал сообщение [dd-mm-yyy]" should be added in small italic font to every edited post._

[2019-06-10 10:43] rusbrain opened #68 "Replies not loading"
Replies not loading. [Topic #42440](http://reps2.ru/forum/topic/42440). [Screenshot](https://ibb.co/Twb8tLj)

[2019-06-10 16:58] widedeveloper commented on #10
I amend the post sorting

[2019-06-11 15:28] widedeveloper commented on #63
on top search field, if i reset value as empty, and click search icon again, its' showing last query value still, I can not pull total value again,
if I clear search value and try to search, it should show all lists

[2019-06-11 16:45] widedeveloper commented on #18
Added image upload feature for admins/morderators but normal users can not upload (it doesnt show upload icon on toolbar)

[2019-06-11 18:19] #67 closed, assigned to widedeveloper

[2019-06-11 18:55] widedeveloper commented on #18
Please check out this feature

[2019-06-11 18:56] widedeveloper commented on #10
Please check it, it closed by me accidentally

[2019-06-11 21:32] rusbrain commented on #18
Seems working

[2019-06-11 21:33] rusbrain commented on #10
Seems working, thanks

[2019-06-11 21:33] #10 closed, assigned to widedeveloper

[2019-06-11 21:49] widedeveloper commented on #68
I fixed this issue.

[2019-06-11 22:57] rusbrain commented on #68
Confirmed

[2019-06-11 22:57] #68 closed, assigned to widedeveloper

[2019-06-12 07:12] widedeveloper commented on #59
I fixed the country issue of User profile save on admin side

[2019-06-12 07:40] widedeveloper opened #72 "make all messages feature"
bugs  if i click message icon after login, [screenshot](https://ibb.co/RPMPjcD)

[2019-06-12 07:44] widedeveloper commented on #72
should show all sender users list to me (avadar, sender name, last message date), and if i click any sender, then it should show their message like (route(/user/{sender_id}/messages))

[2019-06-12 08:07] widedeveloper opened #73 "admin sidebar menu should have collapse/expand feature"
[Screenshot](https://ibb.co/Xkd49r0)

If I add menu section on left side bar on admin panel, last menu is hidden

[2019-06-12 08:12] widedeveloper opened #74 "new feature to download/store backup db dump file from server"
We should have the feature to download and save from admin side for admin user with DB MANAGER ROLE
[screenshot](https://ibb.co/b3nSx0h)

[2019-06-12 08:15] widedeveloper opened #75 "Styling issue"
it does not looks good [here](https://ibb.co/hYFT3kR)

[2019-06-12 09:59] #59 closed, assigned to widedeveloper

[2019-06-12 10:10] rusbrain opened #76 "Endorse replay section"
Please remove: "Версия игры", "Чемпионат", "Длительность", and "Оценка" as absolete.
Please also remove 1-2-3-4-5 scoring ("Оценить реплай") and "Юзер рейтинг".
[Screenshot 1 - admin](https://ibb.co/gm81Lwn), [Screenshot 2 - user](https://ibb.co/K05t5JZ)

[2019-06-12 10:12] rusbrain opened #77 "User can like/dislike his own posts and replays"
I can like my own replay (replay where I am the author). Please fix. User should not be able to like/dislike his own posts, replies, and replays. [Screenshot](https://ibb.co/6PmssQq)

[2019-06-12 10:31] rusbrain opened #78 "Main page endorsement"
Please update the main page as follows below

[2019-06-12 10:41] rusbrain commented on #78
The left column "Госу реплеи"

1) "Госу реплеи" to read as "Реплеи"

2) Do not show "тип" in this column

3) The first should be the **latest** replay with "ROTW" type. Same display: minimap, rep name, countries, and matchup.

4) Next four should be another "gosu" replays (either "duel" type, or "rotw", or "pack" or "team"). Display minimap, rep name, countries, and matchup only (no minimap).

5)

[2019-06-12 10:45] rusbrain commented on #78
The left column "Основные темы форума"

1. "Основные темы форума" to read as "Последние темы"

2. Destroy breaking into forum sections ("Общий", "Колонки", "Чемионаты", etc.)

3. To show last ten active forum threads, irrespective to what section such activity occurred.
[Screenshot](https://ibb.co/gZyByGK)

[2019-06-12 10:47] rusbrain commented on #78
Destroy the right column "Пользовательские реплеи" completely.
[Screenshot](https://ibb.co/Fhb1qLH)

[2019-06-12 10:48] rusbrain commented on #78
Amend the right column "Случайные картинки".

To show only two pictures (currently four)
[Screenshot](https://ibb.co/Fhb1qLH)

[2019-06-12 10:55] rusbrain opened #79 "Manual database edits"
Edit user [fr)yoda](http://reps2.ru/user/12651) to read as ID = 3 (currently 12651).
Amend previous user ID=3 (_vasia_) to 12651.

_Swap their IDs_

[2019-06-12 10:57] rusbrain commented on #79
Edit user [reps)Plumbum](http://reps2.ru/user/3892) to read as ID = 4 (currently 3892).
Amend previous user ID=4 (_semen_) to 3892.

_Swap their IDs_

[2019-06-12 10:59] rusbrain commented on #9
Inactive task

[2019-06-12 11:01] rusbrain commented on #74
Please think about a complete backup system, like Akeeba backup

[2019-06-12 11:10] rusbrain opened #80 "Endorse user panel (in replies)"
Remove user role ("user", "Модератор", "Администратор").
Remove user title ("IPX Zerg", "BIG SCV", etc.)

Add user flag and user race:
[FLAG] [RACE] %user_name%

[Screenshot](https://ibb.co/MNLCX7X)

[2019-06-12 11:35] rusbrain opened #81 "Replay ID 15770 not working"
[Screenshot](https://ibb.co/VJ3DfLv)

[2019-06-12 12:17] forGGe commented on #81
All replays shows the same behavior for me.
![wut](https://user-images.githubusercontent.com/5261821/59350650-4d32ec00-8d25-11e9-876f-bd3b862bacf5.png)

[2019-06-12 15:00] widedeveloper commented on #81
Fixed, It's working now

[2019-06-12 15:13] #81 closed, assigned to widedeveloper

[2019-06-12 15:24] widedeveloper commented on #79
I swapped their ids in User table,
and should I change also these IDs in all another related tables with USER table?
user table has join relation with many tables

[2019-06-12 16:57] rusbrain commented on #79
Seems like what is done is enough, thank you!

[2019-06-12 19:52] widedeveloper commented on #76
I updated it

[2019-06-12 21:32] rusbrain commented on #76
"Длительность" is not needed as well

[2019-06-13 14:26] #75 closed, assigned to widedeveloper

[2019-06-13 14:42] widedeveloper commented on #76
I updated again

[2019-06-13 14:42] widedeveloper commented on #80
I upated

[2019-06-14 00:39] rusbrain commented on #80
Not completely:
- [Replay author](https://ibb.co/XpdhgNS)
- [Topic starter](https://ibb.co/QQTLrwK)
- [Reputation page](https://ibb.co/DDp96dz)

[2019-06-14 00:40] #76 closed, assigned to widedeveloper

[2019-06-14 16:23] rusbrain commented on #78
The replay column to the left, please amend to show only ROTW replay with a minimap previous (thus, the latest rotw replay should always be shown even if it is a year-ago replay with many other "duel or pack" gosu replays posted).

[2019-06-14 16:36] widedeveloper commented on #72
I updated message feature

[2019-06-14 16:45] #72 closed, assigned to widedeveloper

[2019-06-14 16:48] #14 closed, assigned to widedeveloper

[2019-06-14 18:26] widedeveloper commented on #80
I update again

[2019-06-14 20:50] widedeveloper commented on #65
It's working on background every day

[2019-06-14 20:50] #65 closed, assigned to widedeveloper

[2019-06-14 21:04] rusbrain commented on #78
- [ Please also amend
`Пользовательские реплеи"`
to read as
`Пользовательские реплеи`]

- [ Please amend top left menu
`1 на 1 игра`
to read as
`1x1`]

- [ Please amend top left menu
`Replay паки`
to read as
`Pack/ Archive`]

- [ Please amend top left menu
`Replay недели`
to read as
`Game of the Week`]

- [ Please amend top left menu
`Коммандная игра`
to read as
`2x2, 3x3, 4x4`]

[2019-06-14 21:07] #80 closed, assigned to widedeveloper

[2019-06-14 22:40] rusbrain opened #87 "Remove coinminer js"
[Screenshot](https://ibb.co/VV0kr7S)

[2019-06-16 17:30] rusbrain commented on #87
Known Norton AV bug

[2019-06-16 17:30] #87 closed, assigned to widedeveloper

[2019-06-16 17:38] rusbrain opened #88 "Images in folder /img/ are not loading"
[Example](http://reps.ru/img/mindovermech.jpg) result in 500 error.

[2019-06-16 17:41] rusbrain commented on #88
Another example is [old folder flags](http://reps.ru/flags/Korea.gif) and [old folder races](http://reps.ru/editor/terran.gif)

[2019-06-16 23:37] rusbrain commented on #78
The left column with replays.
Другие госу реплеи points to user's reps.
Пользовательские реплеи points to gosu's reps.
Should be visa versa.

[2019-06-17 05:30] widedeveloper commented on #78
Oops, sorry I updated again

[2019-06-17 06:43] widedeveloper commented on #63
Updated this issue:
validation rule:  text: required/min:3

"required":  'Tекста обязаельно для заполнения'
"minLength: 3" :  'Tекста быть не меньше 3 символов'

[2019-06-17 06:45] #63 closed, assigned to widedeveloper

[2019-06-17 06:45] widedeveloper commented on #64
It updated also

[2019-06-17 06:45] #64 closed, assigned to widedeveloper

[2019-06-17 06:53] #78 closed, assigned to widedeveloper

[2019-06-17 08:06] widedeveloper commented on #77
I amended this issue (it will work on own post/comments/replay/galleary, etc)

[2019-06-17 08:43] widedeveloper opened #89 "User profile error in admin panel"
[screenshot](https://ibb.co/8c1xps2)

[2019-06-17 09:05] widedeveloper commented on #89
In admin page, when try to open user profile for own user, it shows error,

[2019-06-17 10:56] rusbrain opened #90 "Amend SQL username/ password"
Please amend SQL username/ password, and remove the same from the open source here @ Github.

[2019-06-17 11:02] rusbrain opened #91 "Main page, left column"
- Главная
- Форум
- Реплеи
- Новости
- Please add `Файлы` as a simple a href pointing [here](https://drive.google.com/drive/folders/1bkbSoSRHOzEJZKki53uBKYbVMG3xvorc?usp=sharing).

[2019-06-17 11:44] rusbrain opened #92 "Add userbar possibility to user's signature"
Please make it possible to choose one of the [subject userbars](https://drive.google.com/open?id=15DZvNp5wTo7V0JpspdmMqA66sWSzMiFM) in the user's signature.

[2019-06-17 17:07] widedeveloper commented on #90
I amended Sql username/password, and double checked it from open source github,

[2019-06-17 17:44] #90 closed, assigned to widedeveloper

[2019-06-17 22:22] widedeveloper commented on #26
I added restore password feature on admin panel
[Screenshot](https://ibb.co/wrZdbkx)

[2019-06-17 22:23] rusbrain commented on #26
What if the admin doesn't know past password?

[2019-06-17 22:28] widedeveloper commented on #26
this is only change password,
if they dont know past password, they can not access admin panel.
when user/admin is forgot password, we must send forgot(reset) email.
admin can not access to admin page if they does not know their password.
so I don't think we need to restore password on admin panel, it should have only change password for admins. what do you think ?

[2019-06-18 05:53] widedeveloper commented on #33
I added remember feature.

[2019-06-18 05:53] widedeveloper commented on #77
Please check out this

[2019-06-18 08:33] widedeveloper commented on #41
It depends on Forum section type
[Screenshot](https://ibb.co/3FR1DTq)
On admin panel, if we did not set "Active" or "Main show" for forum section, it does not displayed on Main page.
Please review it.
Do you want show for all new post without section type ?

[2019-06-18 08:38] widedeveloper opened #93 "forum topic update issue"
[screenshot](https://ibb.co/HCvPNdP)
If I update forum topic post on admin panel, " Отображать в новостях" and " Подтвердить" are reset by default as false.

[2019-06-18 08:44] rusbrain commented on #41
The idea is that the admin may "add the newpost" by simply clicking "Show on main page" on any topic started, irrespective to what category this topic was started.
Thus, if the post is "Active" it should be shown on the website (and not shown if not active).
If the post is "show on the main page" - it should be shown on the main page as if it is a news post.

[2019-06-18 08:46] rusbrain commented on #93
`Отображать в новостях` should be false by default.
`Подтвердить` should be true by default.

[2019-06-18 08:46] #77 closed, assigned to widedeveloper

[2019-06-18 08:47] #33 closed, assigned to widedeveloper

[2019-06-18 08:47] #26 closed, assigned to widedeveloper

[2019-06-18 22:07] widedeveloper commented on #88
All old images are loaded.

[2019-06-18 22:08] widedeveloper commented on #73
Updated admin sidebar menu.

[2019-06-19 00:31] #88 closed, assigned to widedeveloper

[2019-06-19 00:32] #73 closed, assigned to widedeveloper

[2019-06-19 00:34] rusbrain opened #98 "Pagination issue, thread 20951"
Pagination is not working properly [here](http://reps.ru/forum/topic/20951)

[2019-06-19 00:37] rusbrain commented on #98
[here as well](http://reps.ru/forum/topic/31582)

[2019-06-19 06:46] widedeveloper opened #99 "Comments update error"
[link1](http://reps.ru/forum/topic/comment/613035/update), [link2](http://reps2.ru/replay/comment/1831745/update)

500 error on Edit/Update Comments

[2019-06-19 07:46] widedeveloper commented on #98
I updated this bug on comments pagination

[2019-06-19 08:06] widedeveloper commented on #91
Added 'Файлы' link on left sidebar menu

[2019-06-19 09:58] widedeveloper opened #100 "Moderators can access to admin panel"
Admin should only access to admin panel.
if moderators enter admin url [here](http://reps.ru/admin_panel/) , they can not access to admin panel and should redirect to home page
It should be fixed

[2019-06-19 12:02] fun4life1990 commented on #99
@widedeveloper Have you execute migrations?

[2019-06-19 15:07] widedeveloper commented on #100
Fixed this issue

[2019-06-19 16:59] widedeveloper opened #102 "Bug country name and flag"
system has Yugoslavia  country name, flag is not shown for this.

[2019-06-19 17:08] widedeveloper opened #103 "Admin panel should have user access logs"
Create menu Activity logs
it should show all logs like users login, access link etc

[2019-06-20 05:47] widedeveloper commented on #49
I updated #1, #2,
We already removed #3 and #4 (game version, champaign, rating) on add/edit replay (in #76 issue)

[2019-06-20 07:15] widedeveloper opened #104 "Add the feature to Crop/resize and preview when upload image when create/edit forum topic"
[screenshot](https://ibb.co/0Zd1XX6)

[2019-06-20 07:40] widedeveloper opened #105 "Add upload image on forum/replies, etc on admin panel"
admin should have the ability to upload image on SCEditor like front end
[screenshot](https://ibb.co/LZsdMJg)

[2019-06-20 08:15] widedeveloper commented on #99
okay, it worked, migration was not success for comments table

[2019-06-20 08:15] #99 closed, assigned to nobody

[2019-06-20 08:16] widedeveloper commented on #93
It's fixed by @fun4life1990

[2019-06-20 12:55] rusbrain commented on #18
How to find uploaded images?

[2019-06-20 16:41] widedeveloper commented on #18
when you upload image, you can see [here](https://ibb.co/qNSRTTD)

[2019-06-20 18:27] #91 closed, assigned to widedeveloper

[2019-06-20 18:31] #100 closed, assigned to widedeveloper

[2019-06-20 18:34] #49 closed, assigned to widedeveloper

[2019-06-20 18:41] rusbrain commented on #93
Now it is shown on the main page, if post status is `Одобрена`. Status `Новость` is literally unfunctional.
Could you please amend status = `Одобрена` leads to whether the thread is shown or not. Status `Новость` leads to whether the thread is the main page newspost or not.

[2019-06-20 18:46] rusbrain commented on #18
Please amend to show the images folder (to see all images previously uploaded). This will help to attach images from previous news posts if needed.

[2019-06-20 18:52] rusbrain opened #107 "User 4861 reputation is not loaded"
[here](http://reps.ru/user/4861/get_rating)

[2019-06-20 18:53] #98 closed, assigned to widedeveloper

[2019-06-20 18:57] #89 closed, assigned to fun4life1990

[2019-06-20 18:57] #74 closed, assigned to widedeveloper

[2019-06-20 18:59] widedeveloper commented on #51
Could you please let me know for this if we need this still?
because we've updated already replay section on Main page.

[2019-06-20 19:03] rusbrain commented on #51
True. No needed.

[2019-06-20 19:03] #51 closed, assigned to widedeveloper

[2019-06-20 19:04] rusbrain commented on #103
is it possible to implement full actions log, please?
(login/ logoff, post, like)

[2019-06-20 19:06] rusbrain commented on #102
It is a rarely used flag (there are some more missing like the Caribbean offshores: St Lucia, Dominica, Bermuda, and others). Yet, the flags may be added by editing post source code.
This is intentional.

[2019-06-20 19:06] #102 closed, assigned to nobody

[2019-06-20 19:09] widedeveloper opened #108 "Add New user role"
I think we must have Root admin role also

1 : Root user : they can see all admin section (including User logs, DB management, etc if needed)
2: Admin user: current admin role in site
3: morderators:

like this

[2019-06-20 19:09] rusbrain opened #109 "Pack (2:2. 3:3, 4:4) replays not loading"
http://reps.ru/replay/gosus/team

[2019-06-20 19:10] widedeveloper commented on #103
Sure

[2019-06-20 19:12] rusbrain commented on #108
Yes, please.
`Root admin` to `Super admin`

[2019-06-20 19:23] rusbrain opened #110 "Typos"
http://reps.ru/replay/users
`Главная / Пользовательские репл_а_и` to read as `Главная / Пользовательские реплеи`

http://reps.ru/replay/gosus/duel
`Главная / Госу репл_а_и: 1x1` to read as `Главная / Госу реплеи: 1x1`

http://reps.ru/replay/gosus/pack
`Главная / Госу репл_а_и: Park / Archive` to read as `Главная / Госу реплеи: Park / Archive`

http://reps.ru/replay/gosus/rotw
`Главная / Госу репл_

[2019-06-20 19:25] rusbrain opened #111 "Main page: central column"
Please add news posts pagination

[2019-06-20 19:27] rusbrain opened #112 "Main page: right column"
1. Please amend `Новые пользователи` to show last five users
2. Please add `Top pts` column showing top 10 users (based on pts)
3. Please add `Top кг` column showing top 10 users (based on кг)

[2019-06-21 05:50] widedeveloper commented on #112
I added Top pts users and Top кг users on right column of only main page
should it shows count of pts/кг ?

and these new users column should be shown all pages right coulumn ? for example, replay, forum page, etc ?

[2019-06-21 06:54] rusbrain commented on #112
Yes, please show the count instead of user's ID.

[2019-06-21 06:56] rusbrain commented on #110
репл**а**и Still the same. Please double check.

[2019-06-21 09:06] widedeveloper commented on #109
it's fixed

[2019-06-21 09:09] #109 closed, assigned to widedeveloper

[2019-06-21 17:00] rusbrain opened #113 "Main page: left column: amend URL"
Clicking the forum thread in the left column should lead to the latest page/comment of the subject thread (Currently leads to the first one).

[2019-06-21 17:01] rusbrain commented on #113
Renewing (F5) the thread should result in the same.

[2019-06-21 17:04] rusbrain commented on #60
Same bug happens here: http://reps.ru/forum/topic/42452

[2019-06-21 17:15] rusbrain opened #114 "Please update most bottom footer"
`© 2002-2019 Replay Cafe All Right Reserved I © 2003-2019 REPLAY CAFE ENGINE / v.4.7. I © 1998-2019 StarCraft, StarCraft:Brood War by Blizzard Ent.`
to read as
`2002-YYYY Replay Cafe | 2018-YYYY Reps2 | 1998-YYYY StarCraft: Brood War by Blizzard Entertainment`
YYYY - should be the current year automatically

[2019-06-21 17:19] rusbrain opened #115 "Amend users' IDs"
- User [thisaqua](http://reps.ru/admin_panel/user/11/profile) should be ID = 1
- User [REPS.RU|Overmind](http://reps.ru/admin_panel/user/12/profile) should be ID = 2

[2019-06-23 16:20] widedeveloper commented on #115
I amended these user IDs.

[2019-06-23 16:21] widedeveloper commented on #112
Displayed pts/кг  counts instead of user's ID

[2019-06-23 16:22] widedeveloper commented on #110
I updated again. Please check

[2019-06-23 16:27] widedeveloper commented on #114
Updated footer.

[2019-06-23 19:25] #115 closed, assigned to widedeveloper

[2019-06-23 19:26] #110 closed, assigned to widedeveloper

[2019-06-23 19:27] #114 closed, assigned to nobody

[2019-06-23 19:30] #112 closed, assigned to widedeveloper

[2019-06-23 19:31] #107 closed, assigned to fun4life1990, widedeveloper

[2019-06-23 21:20] widedeveloper commented on #111
Added pagination feature on Main page Latest news.
(Main page central column)

[2019-06-23 21:26] widedeveloper commented on #113
I could not find the issue here.
You mean is [this](https://ibb.co/SyRg7Wc)?
this is latest 10 threads. so if I click this thread, it shows their content and comments(with pagination).
I think it's working correctly now. if i am wrong, could you please let me know again with screenshot ?

[2019-06-23 21:32] widedeveloper commented on #105
It updated by fun4life1990 basically

[2019-06-23 21:41] rusbrain commented on #113
Click the one with pagination (65 comments). You will get to the first page of comments, instead of jumping to the last

[2019-06-23 21:42] #111 closed, assigned to widedeveloper

[2019-06-23 21:43] #105 closed, assigned to fun4life1990

[2019-06-24 06:31] fun4life1990 commented on #62
@rusbrain Please check on reps2.ru it's what you need.

[2019-06-24 11:38] rusbrain commented on #62
Thanks much

[2019-06-24 11:38] #62 closed, assigned to widedeveloper

[2019-06-24 14:28] widedeveloper commented on #113
I fixed it, Could you please check it's working correctly?
when I click thread on left side, it shows the  last comment page.

[2019-06-24 14:29] widedeveloper commented on #41
Please check out.

[2019-06-24 15:08] widedeveloper commented on #60
I amended this bug, Please check

[2019-06-24 17:31] widedeveloper commented on #42
Could you please check it's correct what you want ? You can change the Thread date in admin panel manually
[Screenshot](https://ibb.co/HtVTSbm)

[2019-06-24 21:24] rusbrain commented on #113
Great

[2019-06-24 21:24] #113 closed, assigned to widedeveloper

[2019-06-24 21:26] rusbrain commented on #41
ID 42454 is not "Новость" but still shown on the main page.
When you will fix, please ensure that previous newsposts will survive.

[2019-06-24 21:27] #60 closed, assigned to fun4life1990, widedeveloper

[2019-06-24 21:28] rusbrain commented on #42
Thanks much

[2019-06-24 21:28] #42 closed, assigned to widedeveloper

[2019-06-25 06:15] widedeveloper commented on #57
I fixed this issue

[2019-06-25 06:24] rusbrain commented on #57
Please display all pols on the main page (2, 3,5, whatever), provided that such polls are marked "active" in the admin panel.

[2019-06-25 06:26] widedeveloper commented on #41
Ok, I just updated Last newsposts section on main page.

[2019-06-25 07:02] rusbrain commented on #41
Now Ok. Would you please remove "Одобрена" absolutely? It seems not used and in fact, not relevant.

[2019-06-25 07:20] widedeveloper commented on #41
You want remove "Одобрена" on  forum page of admin side?

[2019-06-25 09:34] widedeveloper commented on #41
I updated again

[2019-06-25 09:36] #41 closed, assigned to widedeveloper

[2019-06-25 09:54] widedeveloper commented on #57
Sorry, What is (2,3,5). And i can not find the polls active setting on admin panel.
Could you please help me so i can figure out it correctly ?

[2019-06-25 10:20] rusbrain commented on #57
All active polls should be should be shown on the main page, either there are two, three, four, five or more.

[2019-06-25 16:36] widedeveloper commented on #57
I just updated again
we have 2 active polls in database, it's showing those all

[2019-06-25 17:43] #57 closed, assigned to widedeveloper

[2019-06-25 20:47] widedeveloper commented on #61
Fixed this issue

[2019-06-25 21:03] widedeveloper commented on #93
I think it seems work correctly now, Please check
We already removed *Одобрена* on admin panel

[2019-06-25 21:40] #61 closed, assigned to fun4life1990, widedeveloper

[2019-06-25 21:41] #93 closed, assigned to fun4life1990

[2019-06-26 07:38] rusbrain opened #118 "Defiler.ru chat"

[2019-06-26 08:01] rusbrain opened #119 "Attaching defiler.ru modules to reps2.ru"
Please move [the blue part of reps2.ru website](https://ibb.co/VLrs4WZ) down. Insert [the green and the red modules of defiler.ru](https://ibb.co/wSBKh3m).
The green module should be a simple text/html, editable via admin panel (in order to make announcements, either pure text or URLs).
Red is more complicated, consisting of:
- [chat (azure color on screenshot)](https://github.com/rusbrain/reps2_b

[2019-06-26 08:09] rusbrain commented on #118
Please check defiler.ru chat. Reps2.ru chat should be the same.
Should be very alike:
- Same smiles,
- Same images,
- Should be able to use `[b]`, `[i]`, `[u]`,
- Should be text size `[f1]`, `[f2]`, `[f3]`,
- Various colors `[c1]`, `[c2]`, `[c3]`, `[c4]`, `[c5]`, `[c6]`,
- Support for external images `[img]`,
- Meme generator `[d]`

[2019-06-26 08:23] fun4life1990 commented on #92
@rusbrain Should it be selected when creating a topic or once in the user's settings?

[2019-06-26 08:32] rusbrain opened #120 "Bottom section endorsements"
Endorse `Everything about Starcraft Broodwar world Pro-gaming` to read as
`Everything about StarCraft®: Remastered`.

Please remove "Последние новости" and make custom URLs which can be added from the admin panel instead (please leave the same visual layout/ css as "Последние новости")

[Screenshot](https://ibb.co/ncYbgDY)

[2019-06-26 08:43] rusbrain commented on #92
In user settings, please

[2019-06-26 08:59] widedeveloper commented on #120
should we need to add new section to add `CUSTOM URLS` on admin panel ?
If so, this section menu can be put as submenu in Footer menu
[screenshot](https://ibb.co/YP56rDw)

[2019-06-26 09:13] rusbrain commented on #120
Please move it to "Подвал/footer", please

[2019-06-26 10:11] rusbrain opened #121 "Tops page"
Please make a "tops" page, showing as listed below. Each section should be a scrollable frame.
- top-100 of pts,
- top-100 of кг,
- top-100 of posts moved showed as news,
- top-100 of replays submitted.

[2019-06-26 10:27] rusbrain commented on #119
Any visitor should be able to wrap (minimize) the entire "red" part of defiler.ru.

[2019-06-26 17:21] widedeveloper commented on #120
I added custom urls section on admin panel. you can add URLS here, so that it will be displayed on frontend footer
[screenshot1](https://ibb.co/dcNh1jr), [screenshot2](https://ibb.co/4YCJb3H)

[2019-06-26 18:08] rusbrain commented on #120
Please amend the StarCraft: Brood War phrase as well

[2019-06-26 21:08] widedeveloper commented on #120
Yes, I amended it

[2019-06-27 05:30] rusbrain commented on #120
Please amend `Пользовательский Urls` to read as `Полезное`

[2019-06-27 05:35] widedeveloper commented on #120
I amended again

[2019-06-27 06:12] #120 closed, assigned to widedeveloper

[2019-06-27 08:32] widedeveloper commented on #119
Added Stream section on admin panel

[2019-06-27 08:37] widedeveloper commented on #119
For registration of green part  on admin panel, can i add the menu section in Подвал/Footer  as submenu ?
[screenshot](https://ibb.co/x8SPndC)

[2019-06-27 08:42] rusbrain commented on #119
Better to the "stream" section, please

[2019-06-27 08:47] widedeveloper commented on #121
Please give me more understanding for this
top-100 of pts, => this is Top 100 users list order by pts ?
top-100 of кг,  =>  this is Top 100 users list order by кг?
top-100 of posts moved showed as news,  => this is forum topic lists orderby create date ?
top-100 of replays submitted. => this is replays lists order by replays create date ?

[2019-06-27 08:50] rusbrain commented on #121
top-100 of pts => list of 100 users with most pts
top-100 of кг => list of 100 users with most кг
top-100 of posts moved showed as news => list of 100 users with most news posted
top-100 of replays submitted => list of 100 users with most replays posted

[2019-06-27 15:25] widedeveloper opened #122 "remove prioritized in poll section"

[2019-06-27 15:29] widedeveloper commented on #122
Fixed this

[2019-06-27 16:45] #122 closed, assigned to nobody

[2019-06-28 07:11] widedeveloper commented on #121
Please review Tops page [here](https://ibb.co/v1QD60C)
http://reps2.ru/tops

[2019-06-28 07:22] rusbrain opened #123 "Database edits"
- Please amend all threads, newsposts, replays author ID=11 to read as author **ID=1**.
- Please amend all threads, newsposts, replays author ID=12 to read as author **ID=2**.

[2019-06-28 07:23] rusbrain commented on #121
1. Please make nickname clickable (leading to user's profile);
2. Please add a column to the left showing position (#1, #2, #3,..);
3. Please amend `Верхушки` to read as `Лучшие`;
4. Please amend `Top-100 кг` to read as `Top-100 Репутация`.

[2019-06-28 07:25] rusbrain opened #124 "Layout: Right column"
Please amend left column.
- `Top pts пользователи` to read as `Top pts` + make clickable to [tops page](http://reps2.ru/tops);
- `Top кг пользователи` to read as `Top репутация` + make clickable to [tops page](http://reps2.ru/tops).

[2019-06-28 07:29] rusbrain opened #125 "User 1010 profile leads to a broken page"
http://reps2.ru/user/1010

[2019-06-28 07:29] widedeveloper commented on #118
could you give me more detail ?
1. I need to create new chat section on Reps2.ru like Defiler.ru.  Right ? yes or no ?
2. the chat should be public chat ?
 (I registered account and checked chat on Defiler.ru. when I try to send message, my message not showed anywhere.)
Please give me more ideal
3. If we should add new chat on Reps.ru, i think it's the better to use Sockect.io for message. do you

[2019-06-28 07:35] rusbrain commented on #118
1. Yes. The chat should be the left column in the wrappable (minimizable) Stream section.
2. Chat should be public, but for registered users only (It is ok, that you could not send anything, Defiler was recently hacked, and the admin blocked any new users from sending messages).
3. No objections.

[2019-06-28 07:46] widedeveloper commented on #123
Did you already remove old users of ID:11 and ID:12 permanently  ?

[2019-06-28 08:18] widedeveloper commented on #123
I just updated database, could you please check it's changed correctly ?

[2019-06-28 08:23] rusbrain commented on #123
Thanks much.

[2019-06-28 08:37] widedeveloper commented on #121
I updated

[2019-06-28 08:48] #121 closed, assigned to widedeveloper

[2019-06-28 08:52] rusbrain opened #126 "Disclaimer widget not shown"
[Screenshot](https://ibb.co/2PqZKmh)
http://reps.ru/admin_panel/footer/1/edit

[2019-06-28 09:51] widedeveloper commented on #126
Sorry it was my mistake. I just fixed

[2019-06-28 10:05] #126 closed, assigned to widedeveloper

[2019-06-28 15:02] widedeveloper commented on #125
Fixed bug.

[2019-06-28 15:25] #125 closed, assigned to widedeveloper

[2019-06-29 05:54] widedeveloper commented on #124
I updated this

[2019-06-29 06:03] #124 closed, assigned to widedeveloper

[2019-06-29 06:08] widedeveloper commented on #119
Added My stream page, so every user can offer their stream [here](https://ibb.co/WyMX9RR).
and admin can approve on admin panel.

[2019-06-30 15:23] rusbrain opened #127 "Horizontal scroll lost in admin panel"
Can be seen in users, replays, threads
[Screenshot](https://ibb.co/zSZtxW0)

[2019-06-30 20:37] widedeveloper commented on #18
I just made new commit
I added new feature to show previous uploaded images here
[screenshot1](https://ibb.co/kMLJtrt) [screenshot2](https://ibb.co/gb05wmL)
it has been updated on admin panel also

[2019-06-30 20:48] rusbrain commented on #79
The user IDs were changed, but their comments, replays and forum posts were not.
Should also move friends list, forum threads created, forum posts, reputation, replays uploaded and do on.
Same for user ID=3 (former 12651) and =2 (former 3892).

[2019-06-30 20:50] rusbrain commented on #123
The user IDs were changed, but their comments, replays and forum posts were not.
Should also move friends list, forum threads created, forum posts, reputation, replays uploaded and do on.
Same for user ID=1 (former 11) and =2 (former 12).

[2019-06-30 21:00] widedeveloper commented on #79
Okay, I updated all

[2019-06-30 21:03] widedeveloper commented on #79
I just updated only threads, news posts and replays.
I will updated all related table again

[2019-06-30 21:28] rusbrain commented on #79
Still, the friends shown as user3's are not his,
the posts shown as user3's are not his,
replays too,
reputation too

[2019-07-01 06:39] widedeveloper commented on #79
I updated only for user 3 right now.
I would like to confirm this user 3's replays, posts, reputations, comments, friends, and message etc are working correctly.
I checked on local dev, but not server.
if it's correctly working, I will go for users 1, 2, 4 also.
could you please let me know your check?

[2019-07-01 06:55] rusbrain commented on #79
Yep, it works 👍

[2019-07-01 07:49] widedeveloper commented on #79
I updated all users 1, 2 and 4 also.

[2019-07-01 07:49] widedeveloper commented on #123
Updated again.

[2019-07-01 14:58] widedeveloper commented on #127
I fixed it

[2019-07-02 15:29] widedeveloper commented on #108
I added new user role called "super admin"
This super admin can access to "user role edit", "streaming display setting", "db backup", currently,
Normal admin can not access to those section on admin panel.
[screenshot](https://ibb.co/ZLS3T27), [screenshot1](https://ibb.co/HtdL8Ty)

[2019-07-02 15:35] widedeveloper commented on #119
I added stream [settings menu](https://ibb.co/vzMx3TZ) on admin.
If you check all, the stream section will be shown on main page, but no selection, it's not shown.

[2019-07-02 15:44] rusbrain commented on #108
- Please allow "stream" section edits for normal admins as well.
- Please make users [ID=3](http://reps.ru/user/3) and [ID=3797](http://reps.ru/user/3797) super-admins

[2019-07-02 15:54] rusbrain opened #128 "Stream: added two"
I have accidentally added two frames [here](http://reps.ru/admin_panel/stream/4/edit): "Вставить HTML код с Youtube с видео реплеем", and I can't remove the incorrect one. Should add html edit along with Youtube button.

[2019-07-02 16:04] rusbrain commented on #128
[Stream #9](http://reps.ru/admin_panel/stream/9/edit) too

[2019-07-02 16:09] rusbrain commented on #119
Added some streams, but the whole section is not shown on the main page anyway.

Also, please hide inactive streams (those who are offline) from the [stream list (orange)](https://ibb.co/wSBKh3m).

[2019-07-02 16:11] #127 closed, assigned to widedeveloper

[2019-07-02 16:11] #123 closed, assigned to widedeveloper

[2019-07-02 16:11] #79 closed, assigned to widedeveloper

[2019-07-02 16:11] #18 closed, assigned to widedeveloper

[2019-07-02 16:51] rusbrain opened #129 "Layout, left column: replays"
Would you please amend gosu replays to show from `4` to `8`;
and user replays below from `0` to `4`

[2019-07-02 21:04] widedeveloper commented on #128
I removed these two stream on admin panel.
I will make so easy to remove wrong streams

[2019-07-02 21:17] widedeveloper commented on #108
- I allowed stream section edits for normal admin also

- I already set you as super admin. (and make as super admin user 3 also)
if you are super admin, you can change admin role your self on admin panel
[screenshot](https://ibb.co/G2pGsXf)
we dont need to edit it in database directly.

[2019-07-02 21:22] #108 closed, assigned to widedeveloper

[2019-07-02 21:39] rusbrain opened #130 "Stream section: Theater mode"
Please check **twitch** theatre mode for example.
By clicking a button, then the whole screen should change into just two sections: left column (like 10~20%) = chat. Right column (remaining 80%) = stream.
[Screenshot](https://ibb.co/pRkgRz7)
and a button to turn theatre mode off, of course :)

[2019-07-02 22:05] #128 closed, assigned to widedeveloper

[2019-07-03 06:40] widedeveloper commented on #129
could you please give me more explanation ?
in [here](https://ibb.co/C7CJ3ZM),
I am not getting meaning of `gosu replays from 4 to 8, and user replays from 0 to 4`.
Please add screenshot for me.

[2019-07-03 09:34] rusbrain commented on #129
[This screenshot](https://ibb.co/4Pp1zM0) should make the whole thing much less confusing.
The first set of 1-2-3-4-5-6-7-8 is gosu replays.
The second set of 1-2-3-4 is user replays.

[2019-07-03 20:34] widedeveloper commented on #129
I updated replays section on main page left side

[2019-07-03 21:05] #129 closed, assigned to widedeveloper

[2019-07-04 11:46] fun4life1990 commented on #92
![Снимок экрана 2019-07-04 в 14 30 13](https://user-images.githubusercontent.com/2016749/60664404-7c430600-9e6a-11e9-98ac-dd05acd14f7d.png)
Where should I attach user bars?

[2019-07-04 16:14] widedeveloper commented on #119
I updated the stream list
so it will not show if streams are offline. it will be refreshed real time every 10 seconds.
Please check it

[2019-07-04 16:38] widedeveloper commented on #130
I updated this.
Please see if this is correct what you want and it's working correctly.

[2019-07-04 19:29] rusbrain commented on #92
As a signature

[2019-07-04 19:30] rusbrain commented on #119
awesome, thanks

[2019-07-04 19:30] #119 closed, assigned to widedeveloper

[2019-07-04 19:35] rusbrain commented on #130
Don't understand how it works?

[2019-07-04 19:58] widedeveloper commented on #130
`By clicking a button, then the whole screen should change into just two sections: left column (like 10~20%) = chat. Right column (remaining 80%) = stream.`
[screenshot](https://ibb.co/YyqVZbh)
you can click this button and it showing left chat and right stream section.
is this not what you want?

[2019-07-05 13:14] rusbrain commented on #130
I click this button, and I just have chat minimized. Quite different from the [Twitch'es theatre mode](https://ibb.co/pRkgRz7).

[2019-07-05 16:43] widedeveloper commented on #130
Could you please check again ? [Screenshot](https://ibb.co/3sypnZr)

[2019-07-05 17:12] #130 closed, assigned to widedeveloper

[2019-07-07 17:53] rusbrain opened #131 "Incorporate defiler.ru database to reps.ru"
Add users as newly registered for reps.ru (i.e., ID ~16500++). It is ok that users will have to reset their passwords.
Add other data.
Database dump sharable via Google Drive.

[2019-07-07 17:58] rusbrain opened #132 "Implement defiler.ru tournament module to reps.ru"
Add [defiler.ru tournament module](http://defiler.ru/tourney/) to reps.ru.
Revise template (mockups/ design) according to new reps.ru website.
Add past defiler tournament history.
Ensure all past replays can be downloaded.
Ensure new tournaments are working well.

Script and sql sharable via Google Drive.

[2019-07-07 21:53] widedeveloper commented on #118
Hi, @rusbrain
Could you please check live real chat on main page?
For now. It's allowed only text message
(used Socket, Vue js) :)

[2019-07-08 07:34] widedeveloper commented on #92
I reviewed Alex's updated and merged.
Please check it on live server.

[2019-07-08 14:33] #92 closed, assigned to fun4life1990, widedeveloper

[2019-07-08 14:37] rusbrain opened #134 "Make it possible to add new smile via admin panel"
To make it possible to add new smile via admin panel

[2019-07-08 14:52] rusbrain opened #135 "Make it possible to add new chat pictures via admin panel"
- To make it possible to add new pictures for the chat via admin panel,
- To make it possible to categorize such pictures (they should be categorized for the users in the same manner)

[2019-07-08 15:01] rusbrain opened #136 "Add spoiler text"
Add "spoiler" text possibility on forum post/ comment (text should be hidden until clicked "spoiler" button).

[2019-07-08 15:03] rusbrain commented on #118
Chat seems working flawlessly.

The improvements due:
1. Chat pop-out in new window,
2.  Smile pack: same as reps.ru forum smiles, including [newly added](https://github.com/rusbrain/reps2_beta1/issues/134),
3. [Picture pack](https://github.com/rusbrain/reps2_beta1/issues/135): currently no pictures, only the possibility (we will add ourselves),
4. Automatically convert links to clickable `URL` te

[2019-07-08 15:26] rusbrain commented on #118
Also, please convert chat overall template to dark (dark grey background, lighter letters; same like defiler.ru) - this will better fit dark stream background.

[2019-07-08 16:04] widedeveloper commented on #131
Hi
Now http://defiler.ru/profile is not working on live site ?
I am trying to move all users to reps,ru, but some users has not email in dump file what you share me.

our current reps.ru is based on Email address to login,
so if defiler user has not email address, I can not register these users into reps.ru.
I am not sure how we can register these users without email. [please see here](https://ibb

[2019-07-08 16:29] rusbrain opened #137 "Main page: left column "Последние темы" bug"
New threads from Колонки forum sections are not displayed.

[2019-07-08 16:40] rusbrain opened #138 "Пользователь с таким Email уже зарегестрирован bug"
There was a [user](http://reps.ru/user/8180) with email `##(see_upwork_PM)##@gmail.com`. The user was removed.
I am trying to amend [another user's](http://reps.ru/user/8608) email to `##(see_upwork_PM)##@gmail.com`. I'm getting "Пользователь с таким Email уже зарегестрирован" error.

[2019-07-08 16:49] rusbrain commented on #137
New Колонки section thread is not shown [here](http://reps.ru/forum) as well

[2019-07-08 16:50] rusbrain commented on #137
And [here](http://reps.ru/forum/topic/42448): left column, "Колонки".

[2019-07-08 17:17] rusbrain commented on #131
Please exclude users whose email address are missing.
Yep, I know defiler i very poor in security. The website has been hacked several times a year, alike to old reps.ru :D Please drop the bots. Just make it as you think will fit. If we will implement few bots, and miss few real people - no problem.

[2019-07-08 17:27] rusbrain commented on #137
For some reason, there are very old threads in the `Последние темы` left column.
Possibly some Moderator/ admin commented and instantly removed hist comments to abuse this.

[2019-07-08 17:56] widedeveloper commented on #137
I sorted the left threads by lastest date (updated_at and commented_at).
so when thread has latest comment or updated, it showing on left column althogh those are old threads
please see new update on reps.ru.
should we have the sort by created date ? or commented date ?

[2019-07-08 18:50] widedeveloper commented on #138
we have safedelete function for all user remove. it's not remove user completely, so database has this user (user id is joined many another tables like posts, replays, comments, reputation, etc)
I updated it just
Please check again

[2019-07-08 18:51] #138 closed, assigned to rusbrain, widedeveloper

[2019-07-08 19:23] widedeveloper commented on #137
please check

[2019-07-08 20:50] rusbrain commented on #137
This section keeps updating, albeit I see no visual updates.

[2019-07-09 06:08] widedeveloper commented on #137
I updated again

[2019-07-09 07:27] #137 closed, assigned to widedeveloper

[2019-07-09 08:07] widedeveloper commented on #136
I added Spoiler text to post and comment
[screenshot](https://ibb.co/WxFGXj4)

[2019-07-09 08:31] rusbrain commented on #136
Quoted text is now marked as like "spoiler"
http://reps.ru/forum/topic/42459

Also I can't see the spoiler text button itself in comment text editor.

[2019-07-09 09:00] widedeveloper commented on #136
1. ok, quote should be clickable after display the text by clicking "spoiler" button.
 and "Spoiler" button should not be quoted itself.  it's correct ?
2. do we need the spoiler button in comment text editor ?

if possible, could you please attach your screenshots here ?

[2019-07-09 09:09] rusbrain commented on #136
Quote is quote, it has already been perfect, please return to how it was.
Spoiler is a new possibility. The text should be wrapped into a paragraph not displayed until "spoiler" button clicked.

Please see https://tl.net/forum/bw-tournaments/547898-corrupted-cup-2019-grand-prix-eurovision-de-la-ch for an example.
Check "Countrys allowed to participate:
+ Show Spoiler [list] +"

[2019-07-09 09:15] widedeveloper commented on #136
ok, it's clear for me ,

[2019-07-09 22:50] rusbrain opened #139 "Add twitch.tv chat (see twtich api)"
Add twitch.tv via their API along with current reps chat (separate for each twitch stream). Add a button to minimize twitch chat.

[2019-07-10 12:43] rusbrain commented on #139
[Example](https://ibb.co/wJBLdjX)

[2019-07-10 12:51] rusbrain opened #140 "Stream: Header - only one shown bug"
If [two or more headers added](http://reps.ru/admin_panel/stream/header), only the latest shown. Please amend so that all will be shown one by one (one under another).
[Screen](https://ibb.co/cNMFHCP)

[2019-07-10 13:15] rusbrain opened #141 "Security breach: Banned users"
[This file](https://github.com/rusbrain/reps2_beta1/blob/develop/app/Http/Middleware/Authenticate.php) redirects banned user to logout and then again to logout, until call stack is depleted.

[2019-07-10 13:19] rusbrain opened #142 "Security breach: Chat upload"
[Chat image upload](https://github.com/rusbrain/reps2_beta1/blob/develop/nodejs/utils/socket.js)
`socket.on('upload-image', async (response) => {`
checks nothing like `../../` thus, it is an easies way to amend reps.ru/index file and break entire webpage

[2019-07-10 13:22] rusbrain opened #143 "Security breach: Banned users - Remember password"
Banned users may request remember password email. Banned user may log in back again using the link from email.

[2019-07-11 08:09] widedeveloper commented on #136
I added spoiler feature to comment / post
Please check

[2019-07-11 08:23] #136 closed, assigned to widedeveloper

[2019-07-11 08:50] widedeveloper commented on #141
Fixed this issue.

[2019-07-11 08:52] widedeveloper commented on #142
I prevented this upload feature
maybe we dont need to allow upload image for chat user.

[2019-07-11 08:52] #141 closed, assigned to widedeveloper

[2019-07-11 08:54] rusbrain commented on #142
That's what I thought 😉
Please remove img upload from chat. It is quite enough for users to just insert links and images already on the website (smiles, for example). Uploading external is not necessary.

[2019-07-11 08:54] #142 closed, assigned to widedeveloper

[2019-07-11 09:12] widedeveloper commented on #143
I updated it.
we dont need auto login after update password by clicking email link.
it will redirect login page.

[2019-07-11 09:41] widedeveloper commented on #140
fixed it.

[2019-07-11 13:15] rusbrain commented on #140
Still not quite right. Please check:
https://ibb.co/b7FbkwN

[2019-07-11 13:27] rusbrain commented on #143
Banned users still receiving password recovery email

[2019-07-11 15:18] widedeveloper commented on #143
Okay I was prevented the login for banned users so they can not auto login.
But for now I blocked the email sending for banned user completely.
they will see this message when try send email: `Ваш аккаунт заблокирован, для выяснения причин обращайтесь к администрации сайта`

[2019-07-11 15:22] widedeveloper opened #144 "Stream section responsive"
in mobile/tablet version, the Stream section doesnt looks good layout.
can we collapse chat area on mobile and have the full screen video stream ?
and we can have collapse/expand button for chat.
Is it okay ?

[2019-07-11 15:31] widedeveloper commented on #140
fixed again.

[2019-07-11 15:36] #143 closed, assigned to widedeveloper

[2019-07-11 15:36] rusbrain commented on #144
yep, seems quite okay

[2019-07-11 15:37] #140 closed, assigned to widedeveloper

[2019-07-12 00:53] ghost opened #145 "Incorrect chat textarea style render for guests"
![unlog](https://user-images.githubusercontent.com/49626301/61094550-5912ea80-a458-11e9-8e90-ca1759708a2f.png)

[2019-07-12 05:28] widedeveloper commented on #145
for guests, message input box will be hidden, do we need to show input area ?
Or you mean the blank area in footer ?

[2019-07-12 11:49] rusbrain opened #146 "Editor (WYSIWYG) bug"
Please see [video explanation](https://drive.google.com/a/patyrykin.net/file/d/1yx1O84iybgW31Aq82HynfTxPQ_ScDpyq/view?usp=sharing)

[2019-07-12 14:11] ghost commented on #145
That blank area makes no sense for me

[2019-07-12 17:13] widedeveloper commented on #145
we prevented ability sending message for quests.
so they can send message after login.
we need to put some text on the blank area to let them can not send message before login.
for example " You can not send message. please login to chat here.."
we dont need to show chat input area for quests user because we only allowed sending message for logged in users

[2019-07-12 17:17] widedeveloper commented on #134
admin is possible to add new smiles via admin panel,
it will manage only external upload smiles except original sceditor smiles
Please check

[2019-07-12 17:30] widedeveloper opened #147 "auto delete messages older than a month"
system is possible to remove old chat messages than a month automatically

[2019-07-12 18:57] widedeveloper opened #148 "Check duplicated Username when register newrly acc"
[screenshot](https://ibb.co/GJLBj8D)
we need to check duplicated username,
username should be unique same as email for every user.

[2019-07-12 20:10] rusbrain commented on #134
Smile pack should be the same for forum and chat

[2019-07-12 20:11] rusbrain commented on #145
Just `Please log in to chat` please :)

[2019-07-13 22:07] widedeveloper commented on #131
I inserted defiler users into our reps.ru
id : 16678 - 19767
it updated only username and email. I excepted bots and some users whoes has not email in original defiler table.
But I could not update other fields from defiler.
maybe users must verify with their email then can get started on reps.ru.
Please check and give me your thought

[2019-07-14 20:48] rusbrain commented on #131
User's part is ok. Tournament part pending (after tournament module implemented): https://github.com/rusbrain/reps2_beta1/issues/132

[2019-07-15 03:11] ghost commented on #146
Things we know:

- The edit_topic view is implemented in the most generic way with an internal SCEditor api
- There is only a POST-Form with no WebSocket or XHR requests whatsoever
- Front-end is transpiled with bower so there no chance for any kind of browser incompatibility
- Also, I cannot reproduce such behavior in Chromium-75.0.3770.90

It's highly likely the problem was caused by something o

[2019-07-15 03:14] #145 closed, assigned to nobody

[2019-07-15 07:40] rusbrain commented on #146
Noted. True, this is not happening in MS Edge, Firefox, OS X Safari. Consider this is something my problem.

[2019-07-15 07:41] #146 closed, assigned to widedeveloper

[2019-07-15 18:40] Clockware opened #150 "Suggestion[Minor]: redirect from reps.ru to reps2.ru with HTTP3xx instead of resolving the same IP via DNS"
Browser policy assumes cookies/domain-related data is visible to the correct domain only.
So, being logged in reps2.ru doesn't mean you are logged in reps.ru. Same IP address / access isn't useful unless you keep auth/cookies with it.

[2019-07-17 16:22] widedeveloper commented on #118
Added chat popup
[Screenshot](https://ibb.co/8Bb2VQY)

this is on main page. do we need to open new chat window on new chrom window tap ?
give me feedback

[2019-07-17 16:41] widedeveloper commented on #135
I added the feature to add new chat picture on admin panel

[2019-07-17 22:17] rusbrain opened #152 "Chat: flag issue"
Wrong flags in chat
[Screenshot](https://ibb.co/smk45ZS)

[2019-07-18 05:47] widedeveloper commented on #152
I amended flag on chat.

[2019-07-18 08:25] widedeveloper commented on #118
Updated ignore User feature on chatroom

[2019-07-18 08:39] widedeveloper commented on #147
Updated it, the older messages will be removed by scheduling automatically.

[2019-07-18 16:28] #152 closed, assigned to widedeveloper

[2019-07-18 16:31] rusbrain commented on #135
I can see that images may be added via admin panel. Yet I don't understand how the user can insert them in the chat?

[2019-07-18 16:35] widedeveloper commented on #135
yes, this is only for admin panel
I am doing that user  insert chatroom

[2019-07-18 20:50] #147 closed, assigned to widedeveloper

[2019-07-18 21:19] widedeveloper opened #153 "mobile responsive"
[screenshot](https://ibb.co/X4q5vYz)
[screenshot1](https://ibb.co/Rg32CK1)
[screenshot2](https://ibb.co/rMBhS62)

make the responsive on mobile so looks good

[2019-07-18 21:19] widedeveloper commented on #144
Updated the responsive of stream section. Please check on mobile or tablet

[2019-07-18 21:31] rusbrain commented on #147
No objections

[2019-07-18 21:33] #144 closed, assigned to nobody

[2019-07-19 12:56] #153 closed, assigned to nobody

[2019-07-20 08:46] rusbrain opened #154 "Any new user actions should be impossible before email confirmed"
Ensure that new user registration is subject to successfull captcha.
Ensure that user cannot create forum threads, post replays and comments before email is confirmed.

[This user](http://reps.ru/admin_panel/user/19845/profile)  is a spamer with email unconfirmed.

[2019-07-20 09:10] widedeveloper commented on #154
can we put google captcha for new registration ?

[2019-07-20 14:52] rusbrain commented on #154
yep, Google's recaptcha is ok

[2019-07-20 20:26] widedeveloper commented on #154
Added google recaptcha on register page. [screenshot](https://ibb.co/qndrVxb)

[2019-07-21 07:48] widedeveloper opened #155 "protect fake users on registration by using neverbounce email verify"
we need to check email validation to identify real email.
we can use neverbonce api
https://developers.neverbounce.com/reference#single-check

[2019-07-21 08:21] rusbrain commented on #155
nice idea

[2019-07-21 14:20] widedeveloper commented on #154
I updated this,
unconfirmed email user can not login and also can not post anything,

[2019-07-21 15:49] widedeveloper commented on #155
I added the email validation feature using neverbonce API when user try to register account
Please check.
if you try to signup with fake email (i.e test@mail.com), it will show validation error message [screenshot](https://ibb.co/b3Jv9jY)

[2019-07-21 16:23] widedeveloper commented on #148
we dont need unique user name ? please give me your idea

[2019-07-21 18:11] rusbrain opened #156 "Admin panel: replays not loading"
[Screenshot](https://ibb.co/3dcvsYR)
Various browsers tested

[2019-07-21 18:16] rusbrain commented on #148
Please check the name to be unique.

[2019-07-21 18:17] rusbrain commented on #155
Would you please amend your text to read as: `Твой емейл фуфло. Нормально зарегистрируйся.`

[2019-07-21 18:18] #154 closed, assigned to widedeveloper

[2019-07-22 05:12] widedeveloper opened #157 "Contact Us page"
How to contact any users to support team ?
Maybe i think we need  contact page to send email to our support team if they have some questions or request unblock account , etc
give me your idea.

[2019-07-22 05:36] widedeveloper commented on #155
I amended the error text.

[2019-07-22 08:15] widedeveloper commented on #156
I fixed this issue

[2019-07-22 11:07] #156 closed, assigned to widedeveloper

[2019-07-22 11:08] #155 closed, assigned to nobody

[2019-07-22 11:09] rusbrain commented on #157
Not necessary. Any issue may be posted here @ Github and active reps users know the link. Casual visitors can see an email treasury@reps.ru. Others who couldn't figure this out may be disregarded.

[2019-07-22 11:09] #157 closed, assigned to nobody

[2019-07-22 17:51] widedeveloper commented on #118
Added smiles on chatroom

[2019-07-23 07:08] widedeveloper commented on #118
Added pictures on chatroom

[2019-07-23 12:20] ghost opened #158 "Chat popup duplicates socket.io connection"
At this moment both components have a socket.io clients in their "mounted" hooks causing unused 2nd connection
[code]
![1](https://user-images.githubusercontent.com/49626301/61711108-f4ab3180-ad5b-11e9-9632-85456ff2dcfb.png)

[2019-07-23 15:47] widedeveloper commented on #158
currently, I prevented the popup.
I will change the popup chat logic

[2019-07-23 15:49] widedeveloper commented on #135
could you check this issue ? maybe we need to have the same category of the images when admin register new pictures ?

[2019-07-23 15:51] widedeveloper commented on #134
Please check

[2019-07-24 14:51] widedeveloper commented on #118
Updated chat box

[2019-07-24 14:59] widedeveloper commented on #148
Updated this issue.
[screenshot](https://ibb.co/4FV5Tmq)
when user try to create account, username and email are unique fields.

[2019-07-24 15:39] #148 closed, assigned to nobody

[2019-07-24 15:43] widedeveloper commented on #103
[screenshot](https://ibb.co/VwyYGBW)
additional requirements
1 when admin click user name, it should redirect to user profile view page
2 please make the dropdown of users whom has activity log, and it should be available filter by selected user
3 create datepicker also, display today date by default

[2019-07-24 22:03] rusbrain commented on #118
Chat popup not working.

[2019-07-24 22:17] rusbrain commented on #118
Also please add @%username% messaging.
User click at any username in chat which adds @%username% to the text entry box.

Message should be highlighted for the user it was referred to. Message should remain publicly visible (it's just a highlight, not a private message).

[2019-07-24 22:22] #134 closed, assigned to widedeveloper

[2019-07-24 22:24] rusbrain commented on #135
Please categorization
[Screenshot](https://ibb.co/bbdQXv5)

[2019-07-24 23:22] rusbrain opened #159 "Last thread not shown in "Последние темы""
[This thread](http://reps.ru/forum/topic/42475) is not shown [here](https://ibb.co/4tK6SSN) or [here](https://ibb.co/Xk4BYvL).

[2019-07-25 10:47] fun4life1990 commented on #103
@widedeveloper what version of npm and node do you use in this project?

[2019-07-26 11:16] rusbrain opened #160 "Forum thread short content shown on main page"
[Short content](https://ibb.co/3WkrMJL) is not shown on the [main page](https://ibb.co/g7ChwL3).

[2019-07-26 14:47] widedeveloper opened #161 "Not loading forum/clanes on left sidebar on main page"
http://reps.ru/forum/section/clans
this is not loading...

[2019-07-26 16:43] widedeveloper commented on #160
Fixed this bug.

[2019-07-26 17:12] #160 closed, assigned to widedeveloper

[2019-07-26 17:48] #159 closed, assigned to widedeveloper

[2019-07-26 17:51] widedeveloper commented on #159
Fixed this issue.

[2019-07-27 06:25] widedeveloper commented on #161
I fixed this issue.

[2019-07-27 07:07] #161 closed, assigned to nobody

[2019-07-28 19:58] widedeveloper commented on #135
i updated categories for chat pictures

[2019-07-29 08:23] widedeveloper commented on #139
[screenshot](https://ibb.co/FJDjypz)
Could you please see this ?

[2019-07-29 09:04] #135 closed, assigned to widedeveloper

[2019-07-29 09:05] rusbrain commented on #139
Would you please convert dark template?

Should use this
`<iframe src="http://www.twitch.tv/embed/{TWITCH CHANNEL NAME}/chat?darkpopout" id="{TWITCH CHANNEL NAME}" frameborder="0" scrolling="no" height="100%" width="100%"></iframe>`

[2019-07-29 09:12] rusbrain commented on #118
Chat is not stretched fullscreen in [Theatre Mode](https://ibb.co/SsWJfJx)

[2019-07-29 09:54] widedeveloper commented on #103
@fun4life1990  Node 10.16 , npm 6.9.0
your working seems looks good
@rusbrain , Could you please check 'fun4life1990' 's working ?
[screenshot](https://ibb.co/vHp6ctY)

[2019-07-29 09:55] widedeveloper commented on #139
Converted dark theme for twitch chat

[2019-07-29 09:58] #139 closed, assigned to widedeveloper

[2019-07-29 10:24] rusbrain commented on #103
Yep, seems pretty much what we wanted.

[2019-07-29 10:24] #103 closed, assigned to fun4life1990, widedeveloper

[2019-07-29 11:48] fun4life1990 commented on #104
@rusbrain Preview image should be be 50x50?

[2019-07-29 11:59] rusbrain commented on #104
I really think this feature is not needed. We can always resize the pic using pc software.

[2019-07-29 11:59] #104 closed, assigned to fun4life1990, widedeveloper

[2019-07-30 06:40] widedeveloper opened #163 "Add new column to know chat statue"
we need `chat` column in user table.
it should has 0 by defulat
and admin can approve the chat available status for every morderators or users (admin has default 1)
on Reps chat room, when user click @, it will grab chat activated users only, because we have so many users, so we need to filter some users who has chat permission

[2019-07-30 06:41] widedeveloper commented on #163
@rusbrain , what do you think ?

[2019-07-30 07:55] rusbrain commented on #163
Don't you think the database will be much too overloaded if every user's chat column constantly change?
Also, what's the point in that?

[2019-07-30 08:00] widedeveloper commented on #163
[screenshot](https://ibb.co/rtMphNP)
yes i think so, but so many users list should loaded here when click '@'
so I think we need to find the solution to make it lightly

[2019-07-30 09:24] rusbrain commented on #163
No need to show users at all :)
Just make users "clickable" in the chat, and add "@username" into the text box on click

[2019-07-30 11:01] #163 closed, assigned to nobody

[2019-07-31 05:50] widedeveloper opened #164 "Add categorization on admin Chat Picuture"
add category on admin chat picture section

[2019-07-31 06:01] widedeveloper opened #165 "Main page responsive"
[screenshot](https://ibb.co/s6gkrCw)

[2019-07-31 08:24] widedeveloper opened #166 "Add ssl certification"
We need to add ssl certification on reps.ru
like https://reps.ru
it should be redirected https://
what do you think?

[2019-07-31 08:25] widedeveloper commented on #158
I enabled popup chat and resolved the duplicated socket connection issue.

[2019-07-31 08:34] rusbrain opened #167 "Limited admin panel for moderators"
Would you please limited Admin panel for moderatos?
Only the "ФОРУМ" and "REPLAY" sections.

[2019-07-31 08:35] fun4life1990 commented on #165
Should I implement this task?

[2019-07-31 08:44] widedeveloper commented on #167
@rusbrain , should we allow so, moderators can access to admin panel ? for only "ФОРУМ" and "REPLAY" sections ?
for now 'super admin' and 'admin' has the access to admin panel,
so we need to allow access to morderators for these two sections?

[2019-07-31 08:46] rusbrain commented on #167
@widedeveloper yes, exactly like that, please.
I need some "non-executive officers" to take care of Forum and Reps, but no need for them to see everything.

[2019-07-31 08:47] rusbrain commented on #158
Is this possible to pop-up the chat [like this](http://defiler.ru/chat/), please?

[2019-07-31 08:48] widedeveloper commented on #167
should i allow them all actions (like add/edit/approve/delete, etc actions) also for forum and replys ? or only show access ?

[2019-07-31 08:50] widedeveloper commented on #158
I understand what you want, ok

[2019-07-31 08:50] rusbrain commented on #167
Add/edit/approve/delete (i.e. full access), please.

[2019-07-31 08:52] rusbrain commented on #165
@fun4life1990 yes, please

[2019-07-31 08:52] widedeveloper commented on #165
yes i think,
@rusbrain , please review this and assign

[2019-07-31 09:00] rusbrain commented on #166
Yes, I think this is a proper time for that.
I've just purchased a multidomain certificate for three domains (reps.ru, reps2.ru, defiler.ru).
Would you please provide the 4096 bit CSR?

please send via [skype, whatsapp or telegram](http://patyrykin.net/).

[2019-07-31 13:50] rusbrain opened #168 "Please add IP to user activity log"
Please add IP for each action in the [activity log](http://reps.ru/admin_panel/user/activity-log).

[2019-07-31 14:34] #131 closed, assigned to widedeveloper

[2019-07-31 14:40] #118 closed, assigned to widedeveloper

[2019-07-31 16:46] widedeveloper commented on #167
Allowed the admin permission for moderators (only Forum and Replay sections)

[2019-07-31 17:08] rusbrain commented on #167
Forum is working, Replays do not.

[2019-07-31 17:13] rusbrain commented on #167
Moderator tried to open [Replay > Replays](https://ibb.co/GxFN3Y4) and eventually the page is not opening.

[2019-07-31 17:20] widedeveloper commented on #167
could you check again ?

[2019-07-31 17:29] widedeveloper commented on #167
it's working, but i will make a little change on Auth middleware and Auth provideer again

[2019-07-31 18:33] widedeveloper commented on #167
I updated all again.

[2019-07-31 18:35] mSjDreamer opened #169 "Add "Галерея" on menu panel bleat"
Add "Галерея" on menu panel

[2019-07-31 18:41] mSjDreamer opened #170 "give me moder panel again"
give me moder panel again please

[2019-07-31 18:42] mSjDreamer commented on #170
new id14754 (iwl-Artanis)

[2019-07-31 19:12] #170 closed, assigned to nobody

[2019-07-31 19:13] rusbrain commented on #169
@mSjDreamer add link, please. What do u want to add?

[2019-07-31 19:16] rusbrain opened #171 "Chat: @ message by id"
Please make it possible to message to a specific user by id. Example: `@14781`
By sending that message the website should convert to `@Roushek`

[2019-07-31 19:18] mSjDreamer commented on #169
[http://reps.ru/gallery/user/14754](url)

gallery not displayed in the main menu

[2019-07-31 19:19] rusbrain opened #172 "Chat: @SC1F.eOnzErG not working"
Trying to send @ message to SC1F.eOnzErG, and it's not working.

[2019-07-31 19:19] ghost opened #173 "Unrestricted StreamController access"
1. "stream" route has a lack of validation giving an access to "edit" and "update" to any authenticated user
2. StreamController has an another privileges validation only on "store" request
3. StreamService is also may be manipulated just by adding an extra "approved" entry in  "update" form request. That's an admin tier thing

PoC
- At this moment [http://reps.ru/stream/39/edit](http://reps.ru/st

[2019-07-31 19:20] rusbrain commented on #169
Please make it possible to upload new pictures to gallery

[2019-07-31 19:21] mSjDreamer commented on #169
https://ibb.co/0JPN1rX

[2019-07-31 19:23] #169 closed, assigned to nobody

[2019-07-31 19:40] #167 closed, assigned to widedeveloper

[2019-08-01 06:21] widedeveloper commented on #172
Fixed this issue

[2019-08-01 06:31] #172 closed, assigned to widedeveloper

[2019-08-01 07:55] rusbrain commented on #171
Clicking on the name works (Eonzerg is @14391), but just sending text "@5545" doesn't

https://ibb.co/GkdQVYY

[2019-08-01 07:57] rusbrain commented on #171
Noted. Should add ","

[2019-08-01 07:57] #171 closed, assigned to widedeveloper

[2019-08-01 07:59] widedeveloper commented on #171
Should we ignore ',' ?

[2019-08-01 08:00] rusbrain commented on #132
@widedeveloper please don't forget about this one

[2019-08-01 08:03] widedeveloper commented on #132
Sure, this is so important feature. I am always researching this issue :)

[2019-08-01 10:51] rusbrain commented on #171
yes, please

[2019-08-01 12:06] rusbrain opened #174 "Chat: How to add and remove image categories?"
http://reps.ru/admin_panel/chat/pictures/create

[2019-08-01 12:47] rusbrain opened #175 "Chat: [d] is not working"
[Screenshot](https://ibb.co/wpPqMvs)

[2019-08-01 13:34] rusbrain opened #176 "Clear console errors"
`%3Cimg%20src=:1 Failed to load resource: the server responded with a status of 404 (Not Found)`

`hello:1 Failed to load resource: the server responded with a status of 404 (Not Found)`

`/chat/insert_message:1 Failed to load resource: the server responded with a status of 500 (Internal Server Error)`

`LivePlayer.min.js?_=20190702:1 WebSocket connection to 'wss://chat-6e0a4c4a.afreecatv.com:9001

[2019-08-01 14:02] widedeveloper commented on #174
Currently I used static categories from defiler.ru.
I think I should add the add/remove categories feature on admin panel if we need it

[2019-08-01 14:16] rusbrain commented on #174
Yes, please

[2019-08-01 16:03] widedeveloper commented on #175
@rusbrain, Could you please check this issue ?

[2019-08-01 16:15] rusbrain commented on #175
Should be this structure:
`[d]picture-url text[/d]`

Example:
`[d]http://reps.ru/storage/chat/pictures/eonzerg.png Hello[/d]`

[2019-08-01 16:22] widedeveloper commented on #175
oh, could you give more detail(example) with screenshot from defiler.ru
I wasn't figure out the structure from defiler correctly because I can not sent the messages from there.
for example : [d]http://reps.ru/storage/chat/pictures/eonzerg.png Hello[/d]
this should be shown clickable 'picture' and 'text' ?

[2019-08-01 16:26] rusbrain commented on #175
Should be this http://defiler.ru/i/defiler.png

[2019-08-01 16:28] rusbrain commented on #175
Should be this
https://ibb.co/gPYymRQ

[2019-08-01 16:49] widedeveloper commented on #176
I'v cleared console errors, Pleaes reload page and check

[2019-08-01 17:53] widedeveloper commented on #175
I fixed that, but one problem, [screenshot](https://ibb.co/LxmzJYh)
if user enter wrong image url [d] **wrong url**  Text[/d], it will get console errors,
so in this case, can we use default image? or hide the wrong image on chat ?

[2019-08-01 17:59] rusbrain commented on #175
Default image or text will fit
`Incorrect image code`

[2019-08-01 18:00] #176 closed, assigned to widedeveloper

[2019-08-01 20:26] rusbrain opened #177 "Chat: img overlapping"
[Screenshot](https://ibb.co/1RVyBnK)

[2019-08-02 08:48] widedeveloper commented on #177
`<p><img onmouseover="(function(){document.write('gg')})()" style="display:block !important;max-width:1000px;max-height:1000px;position:absolute;z-index:99999;width:1000px;heigth:1000px;"...`
this was rendered in chat box when user input this HTML string directly,
Amended this issue.

[2019-08-02 09:25] #177 closed, assigned to widedeveloper

[2019-08-02 09:44] rusbrain opened #178 "Chat: can't send the message"
Tried to send `:rusbrain2: :miker:` and this message did not pass.

[2019-08-02 10:01] widedeveloper commented on #178
Yes, That was bug. Just fixed

[2019-08-02 10:10] widedeveloper commented on #173
Fixed it.
@nl169 if there are any issues, comment here

[2019-08-02 10:12] #178 closed, assigned to widedeveloper

[2019-08-02 10:13] #173 closed, assigned to widedeveloper

[2019-08-02 15:31] widedeveloper commented on #175
I updated it, give me your opinion if it's working correctly

[2019-08-03 21:50] #175 closed, assigned to widedeveloper

[2019-08-04 21:48] ghost opened #179 "Incorrect news pagination"
News pagination don't match an actual number of accessible pages

Highly likely caused by `app/ForumTopic.php` with a lack of "approved" validation

[code]
[code]
![1](https://user-images.githubusercontent.com/49626301/62429700-9d716d80-b71a-11e9-8f07-81a631c2eae8.png)
![2](https://user-images.githubusercontent.com/49626301/62429701-a104f480-b71a-11e9-9bf3-862a7bff35f4.png)

[2019-08-05 07:06] fun4life1990 commented on #165
![Снимок экрана 2019-08-05 в 10 05 21](https://user-images.githubusercontent.com/2016749/62445321-a557fe80-b768-11e9-9464-4195fa1794a5.png)
![Снимок экрана 2019-08-05 в 10 04 46](https://user-images.githubusercontent.com/2016749/62445322-a557fe80-b768-11e9-8098-41ac2720a20c.png)
![Снимок экрана 2019-08-05 в 10 04 25](https://user-images.githubusercontent.com/2016749/62445323-a557fe80-b768-11e9-915

[2019-08-05 08:48] rusbrain commented on #165
seems fine, except stream section absent

[2019-08-05 09:14] widedeveloper commented on #174
http://reps.ru/admin_panel/chat/pictures/category
Added Picture category section on admin panel.

[2019-08-05 09:22] #174 closed, assigned to widedeveloper

[2019-08-05 20:21] widedeveloper commented on #164
I added search fields on chat picture admin section
so it can be searchable by category and charactor

[2019-08-05 23:12] #164 closed, assigned to widedeveloper

[2019-08-06 09:05] rusbrain opened #180 "Layout left panel: Show Реплеи everywhere"
Please show [Реплеи section of left column](https://ibb.co/XZRnWXz) [here](http://reps.ru/replay/gosus) and [here](http://reps.ru/replay/15837) as well.

[2019-08-06 09:13] widedeveloper commented on #158
I amended the chat popup like defiler.ru. completed

[2019-08-06 09:25] #158 closed, assigned to widedeveloper

[2019-08-06 14:29] fun4life1990 commented on #165
@rusbrain What if I will hide stream chat window on small screens. For example 768px and lower?

[2019-08-06 14:36] rusbrain commented on #165
@fun4life1990 Autohide is ok, but make it possible to show/load on demand (on click), please.

[2019-08-06 14:36] rusbrain commented on #168
@fun4life1990 please double check

[2019-08-06 19:59] widedeveloper commented on #180
I updated this issue.

[2019-08-06 20:26] widedeveloper opened #181 "Set maxlength on chatbox input"
[screenshot](https://ibb.co/frDL1rc)

[2019-08-07 05:30] #180 closed, assigned to widedeveloper

[2019-08-07 05:45] widedeveloper commented on #181
limitted max inputbox maxLength as 100.

[2019-08-07 06:12] widedeveloper commented on #132
[screenshot](https://ibb.co/wCjpXC9)
can I add Tournemant menu here ?

[2019-08-07 06:12] rusbrain commented on #181
100 seems not enough with links
please limit to 250, with message autocut, but not with message autoblock

[2019-08-07 06:24] widedeveloper commented on #181
yes, but what does mean this **with message autocut, but not with message autoblock** correctly ?
give me hint again please.

[2019-08-07 06:26] rusbrain commented on #132
Please add is as a full section (widget), alike to reps, or votes.
The widget should show all upcoming tournaments and a button "Show all", like in replays widget.
Screenshot: https://ibb.co/9GM29mG

[2019-08-07 06:29] rusbrain commented on #181
In case 9999 symbols message was posted, only the first 250 should be displayed, and anything else should be hidden with onclick text (like spoiler in forum).

Overall max message should be 10,000.

[2019-08-07 06:37] widedeveloper commented on #181
okay, but why did you close this ?

[2019-08-07 09:24] rusbrain opened #182 "Replay update bug"
I'm trying to update a replay (load another one via admin panel), but the file attached does not change.
[This rep](http://reps.ru/replay/15838)
tried to load [this file](https://we.tl/t-UNbIBWG8Gr)

[2019-08-07 11:01] ghost opened #183 "Make popup chat responsive"
![2019-08-07-135916_862x981_scrot](https://user-images.githubusercontent.com/49626301/62618014-e2182700-b91b-11e9-915b-49f751b5590c.png)

[2019-08-07 11:58] fun4life1990 commented on #9
@widedeveloper What's environment on live server?
I have to choose one from this releases https://github.com/icza/screp/releases

[2019-08-07 12:09] rusbrain commented on #183
@widedeveloper should make height the same as device/window where the chat is opened.

[2019-08-07 12:11] rusbrain commented on #150
@widedeveloper

[2019-08-07 12:11] #150 closed, assigned to nobody

[2019-08-07 14:05] widedeveloper commented on #9
@fun4life1990 , Select Linux amd64

[2019-08-07 16:17] fun4life1990 commented on #165
![Снимок экрана 2019-08-07 в 19 13 55](https://user-images.githubusercontent.com/2016749/62639161-9bd8bd00-b947-11e9-8b7d-f4764474aa63.png)
![Снимок экрана 2019-08-07 в 19 11 22](https://user-images.githubusercontent.com/2016749/62639162-9bd8bd00-b947-11e9-9ca1-189b7cb4d845.png)
![Снимок экрана 2019-08-07 в 19 10 28](https://user-images.githubusercontent.com/2016749/62639163-9c715380-b947-11e9-9ff

[2019-08-07 16:28] widedeveloper commented on #165
@fun4life1990
i already made the update for stream section before.
if other sections are okay, Pleaes commit so i can check

[2019-08-07 17:35] rusbrain opened #184 "Replays: any user can edit"
Any user can edit replay, simply adding /edit to url.
This is totally incorrect. User should able to edit only his own replays.

Moderators, Admins => any replay.

[2019-08-07 19:34] rusbrain opened #185 "Commects, threads: unsanctioned delete"
/delete is working for comments and threads

[2019-08-08 06:47] widedeveloper commented on #182
I fixed this issue.

[2019-08-08 08:10] widedeveloper commented on #184
I prevented the edit action for any users.
Admin Moderators and Own user can edit.

[2019-08-08 09:38] #184 closed, assigned to widedeveloper

[2019-08-08 09:49] fun4life1990 commented on #9
@rusbrain How could i recognize replay type:
duel
pack
rotw
team

[2019-08-08 09:52] rusbrain commented on #9
This is only manually possible

[2019-08-08 12:23] ghost commented on #179
The problem appears to be a misconception in tag handling

[code]

List of improperly parsed news caught
At this moment 6996 is the last id
http://dpaste.com/3SJ4E8S

[2019-08-09 06:13] widedeveloper commented on #179
I fixed this last_news loading bug.

[2019-08-09 07:01] widedeveloper commented on #185
I prevented the remove action on front page for any user/admin/moderators.
it should be only removed on admin panel by admin.
Fixed.

[2019-08-09 08:38] #179 closed, assigned to widedeveloper

[2019-08-09 08:40] widedeveloper commented on #181
[screenshot](https://ibb.co/ZLQSy9V)
Updated

[2019-08-09 08:40] #185 closed, assigned to widedeveloper

[2019-08-09 08:41] #182 closed, assigned to widedeveloper

[2019-08-09 08:43] rusbrain commented on #181
Seems not working

[2019-08-09 08:49] widedeveloper commented on #181
your entered length is 119
you said it make so as 250
but i set the show length is 350 because demotivator length is bigger than 250

[2019-08-09 08:53] rusbrain commented on #165
@fun4life1990 @widedeveloper Page broken. No menu on top.
[Screenshot](https://ibb.co/CJWgMdH)

[2019-08-09 08:56] widedeveloper commented on #165
Please clear browser cache/history and try again

[2019-08-09 08:58] #165 closed, assigned to fun4life1990

[2019-08-09 08:58] rusbrain commented on #165
That helps, thanks

[2019-08-09 09:15] rusbrain commented on #181
It is not possible to enter more than 119 in the text box.

[2019-08-09 09:23] widedeveloper commented on #181
hmm, I allowed no limit charactors already.

[2019-08-09 10:01] rusbrain commented on #181
Not working for me
https://ibb.co/r2Fx4f9

[2019-08-10 17:33] widedeveloper commented on #183
I amended this issue.

[2019-08-10 17:37] widedeveloper commented on #181
you can clear browser cache and reload , I saw the working from another users messages.
please double check

[2019-08-10 21:18] #181 closed, assigned to widedeveloper

[2019-08-10 21:18] #183 closed, assigned to widedeveloper

[2019-08-11 15:18] ghost opened #187 "HTML tags injection"
At this moment almost all controllers are using an  ancient concept of storing HTML tags in database with no validation whatsoever

A few ways (there is may be a lot more) to inject anything including <script>:
1. Simply turn on the "show code" mode

2. Just put the code in a  signature

3.  Break img/link insertion. It's important not to mix a double quote chars
`"><script>alert('alert')</script>

[2019-08-11 15:43] widedeveloper commented on #187
Hi, @nl169 ,
could you give detail? like examples

[2019-08-11 16:27] ghost commented on #187
**The most significant and easy way is creating a new forum topic and put a html code in header. It will be hooked by the "last topics" view so literally every visitor will be affected.
No special API calls required. All this stuff can be made with regular site forms**
![create](https://user-images.githubusercontent.com/49626301/62836568-4a913c00-bc6d-11e9-9d7b-2a6fe1b8d6ca.png)
![view](https://us

[2019-08-12 06:19] widedeveloper commented on #132
questions,

1. who can register new tournaments in defiler.ru/tourney
2. for now there are no admin management actions in defiler.ru/tourney what you gave me
   for example
 - create tournament (including database fields)
 - users assigning to new tournament
 - attaching replay files for each replays
 - how to add game results to display tournaments history
etc..

[2019-08-12 06:23] widedeveloper commented on #132
maybe we will need to create admin section for tournaments widget firstly ? (for database structure)
I want more details if you are possible.
because we can not just import defiler.ru code to our new reps.
it will be helpful  if there are more detailed logic

[2019-08-12 13:15] rusbrain commented on #132
I don't mind developing admin panel first.
Why we can't implement old tournament? We need to keep old record (data) and old version is very stable, clean of bugs.

[2019-08-12 14:06] widedeveloper commented on #132
okay. I got it, it's clear , i was thinking we must have the ability of registering new tournaments.
for now, i will focus to implement old data into reps and show them.

[2019-08-20 05:44] widedeveloper opened #188 "prevent special characters username/email when user regirster and update"
we need to prevent the input special characters in user form
[screenshot](https://ibb.co/FqYFKmt)

[2019-08-20 07:06] widedeveloper opened #189 "Page responsive for center section on every pages"
[screenshot](https://ibb.co/mqHHNV0)

[2019-08-20 07:17] widedeveloper commented on #187
@rusbrain , I reviewed this issue posted by nl169
I think we need to change the text editor for USERS post pages.
this will be published to main page,
when they post the forum or comment, they can inject spammed html code.
[screenshot](https://ibb.co/7rdjWCN)
so for post users, we should not allow the posting html characters,
but for now we are using SCEditor, it based on HTML content when submit

[2019-08-20 08:17] rusbrain commented on #187
Yes, this is totally fine.

[2019-08-20 08:21] rusbrain commented on #188
wrap every spec char into utf code?

[2019-08-20 08:23] widedeveloper commented on #188
for the name and skype name,
allowed 0-9, a-z  A-Z (all languages letters) and only specific characters " , . ) - _ ".

[2019-08-20 08:27] widedeveloper opened #190 "Signature text content issue"
[screenshot](https://ibb.co/1LyYJt6)
we already added the userbar as signature
but still the signature text area exists in user setting page
do we need this still ?

[2019-08-20 08:31] rusbrain commented on #190
Yes, please leave it as is

[2019-08-20 08:31] #190 closed, assigned to nobody

[2019-08-20 20:35] rusbrain commented on #189
@fun4life1990 please

[2019-08-21 06:58] widedeveloper commented on #188
I added regex validation rule for user profile setting (for name ,skype name, and links).
it will work on registration and user edit page.
Please check

[2019-08-21 07:05] widedeveloper opened #191 "Prevent spam tag and styling for user post pages"
we need to prevent spam text and contents for any post method.
1, user gallery posting : comment field
2, forum/comment title fields
3. stream add section
etc
[screenshot](https://ibb.co/qYKq1SZ)

[2019-08-22 22:02] ingArea opened #193 "cant create new topic"
I cant create a topic on the site. Nvm in the admin panel or just on the forum.
Even the simplest with "asdf" in all required fields. It always returns error 500
![image](https://user-images.githubusercontent.com/50913257/63552824-6df79900-c541-11e9-848f-7e391bcdcf82.png)
![image](https://user-images.githubusercontent.com/50913257/63552885-9bdcdd80-c541-11e9-9b62-7f7d47e05361.png)

[2019-08-26 16:29] fun4life1990 commented on #168
@rusbrain Do you need filter for this?

[2019-08-26 16:40] fun4life1990 commented on #187
@widedeveloper we can use strip_tags for this input and list only 'safe' tags like img, b and other format tags. What do you think?

[2019-08-26 18:33] fun4life1990 commented on #193
I can fix this if still needed

[2019-08-26 18:46] rusbrain commented on #193
Yes, please

[2019-08-26 19:35] rusbrain commented on #168
yes, please

[2019-08-27 05:02] widedeveloper commented on #193
I already fixed it and updated server

[2019-08-27 05:30] widedeveloper commented on #187
@fun4life1990
Yeah, it should be matched in table and sceditor and view page all.
I was thinking update the textarea editor, but for now we can use the sceditor,
Please handle this issue,
@rusbrain I think it's the better Fun4life do this issue here. and I will do #132 issue, I think there are many things what we need to implement.
what do you think?

[2019-08-27 05:31] widedeveloper commented on #188
I fixed this issue for input field except for the textarea fields.
the sceditor issue will be updated on #187

[2019-08-27 09:19] fun4life1990 commented on #187
@widedeveloper for now i think these tags are safe:
p    b     i
u   span    br
div    font      blockquote
code     img       a

i'm not sure about IFRAME tag case i found some links in frames to adult sites, but most of iframes is embedded video content with SC replays?

What do you think?

[2019-08-27 09:23] fun4life1990 commented on #187
and i think we could strip tags only for frontend; admin is secure part of application

[2019-08-27 09:28] rusbrain commented on #187
@widedeveloper @fun4life1990 You should not just guess which are safe and which are not, but review reps.ru website in particular and make a proper analysis.

1. Implementing BB code instead of HTML code (i.e. [b], [i]. [img] instead of relevant html analogs) is generally fine, but the historic data may corrupt. So you have to review the entire database.
2. Iframe is in general very unsafe code, b

[2019-08-27 09:31] widedeveloper commented on #187
Yes, I agree    On Tuesday, August 27, 2019, 02:28:05 AM PDT, Kirill Patyrykin <notifications@github.com> wrote:

@widedeveloper @fun4life1990 You should not just guess which are safe and which are not, but review reps.ru website in particular and make a proper analysis.

   - Implementing BB code instead of HTML code (i.e. [b], [i]. [img] instead of relevant html analogs) is generally fine, but t

[2019-08-27 09:32] widedeveloper commented on #187
yeah, I agree it

[2019-08-27 09:54] fun4life1990 commented on #187
@rusbrain Ok. So I'll try to implement converter for our current format to bbcode

[2019-08-27 16:31] ghost opened #195 "[d] url pokes"
[code]
Any non-image urls still will be considered as an image
A lot of image hosts are using 302 redirect code so some images will be considered as invalid

The entire site's host/domain may be marked as malicious if someone will spam that tag
With CURLOPT_NOBODY it's still possible to just put  a huge no-sense link  into GET request to make website look even more malicious-like

I'd suggest to r

[2019-08-27 21:02] ingArea commented on #193
Its work fine now, thanks

[2019-08-27 21:02] #193 closed, assigned to widedeveloper

[2019-08-28 06:19] widedeveloper commented on #195
Ok

[2019-08-29 16:18] rusbrain opened #196 "Adding replays in admin panel not working"
[Screenshot](https://ibb.co/R43xKNP)

[2019-08-29 16:19] rusbrain commented on #191
@widedeveloper Screenshot link corrupted.

[2019-08-29 16:22] rusbrain commented on #9
@fun4life1990 is this finished? How does it work?

[2019-08-29 16:27] widedeveloper commented on #196
do we need to keep blank for that field if necessary ?

[2019-08-29 16:34] widedeveloper commented on #188
it's already fixed
i updated server

[2019-08-29 16:55] widedeveloper opened #197 "Replay edit not working on front page"
[screenshot](https://ibb.co/7KRbbyg)

[2019-08-29 17:16] widedeveloper commented on #196
actually that was required fields, but we can leave empty for this fields when submit form ?
[here](https://ibb.co/J3vpqBt) (also creating replay on front)

[2019-08-29 17:29] widedeveloper opened #198 "loading failure for rep file on edit replay page on admin pan"
[screenshot](https://ibb.co/R08XhbW)
it should show uploaded rep file on edit page
so admin can check whether replace rep file or not

[2019-08-29 18:58] #188 closed, assigned to fun4life1990, widedeveloper

[2019-08-29 18:59] rusbrain commented on #196
please advise when this field was made necessary?
If it is an uploaded rep file, then YouTube link is not necessary

[2019-08-29 19:00] #198 closed, assigned to nobody

[2019-08-29 19:02] widedeveloper commented on #197
I fixed it

[2019-08-29 19:12] #197 closed, assigned to nobody

[2019-08-29 20:28] widedeveloper commented on #196
I fixed this issue.

[2019-08-30 07:40] widedeveloper commented on #195
I updated this issue, please review and check

[2019-08-30 07:41] rusbrain commented on #196
@widedeveloper u fixed what??
[Screenshot](https://ibb.co/NyGrfTD)

[2019-08-30 08:14] fun4life1990 opened #199 "Laravel Debug bar on reps2.ru"

[2019-08-30 08:15] fun4life1990 commented on #199
![Снимок экрана 2019-08-30 в 11 14 58](https://user-images.githubusercontent.com/2016749/64004692-69217f00-cb17-11e9-8f6d-a794749b7294.png)

[2019-08-30 08:18] widedeveloper commented on #199
fixed

[2019-08-30 08:18] #199 closed, assigned to widedeveloper

[2019-08-30 08:50] rusbrain commented on #196
I can't add VOD as well, lol
[Screenshot](https://ibb.co/Q6w9ZzR)

[2019-08-30 08:52] fun4life1990 commented on #196
@rusbrain  I changed the form only on the frontend part. I’ll fix this asap.

Now the logic is this:
1. On the form, the file is loaded via ajax. If there are no errors, the id of the uploaded file is returned back with the shared data for the replay (race, location, map id etc.)
2. When successfully saving the replay, the id of this file is attached to this replay.
3. Periodically saved files tha

[2019-08-30 08:55] rusbrain commented on #9
@fun4life1990

- Player 1 name -- not shown/ not parsed
- Player 1 race (Terran, Zerg, Protoss) -- not shown/ not parsed
- Player 1 APM -- not shown/ not parsed
- Player 2 name -- not shown/ not parsed
- Player 2 race (Terran, Zerg, Protoss) -- not shown/ not parsed
- Player 2 APM -- not shown/ not parsed
- Game duration -- not shown/ not parsed
- Map name -- not shown/ not parsed
- Game date -- n

[2019-08-30 08:55] rusbrain commented on #9
Also, would you please parse the historic replay data and propose necessary edits to the database, so all historic replays will contain the same (apm, race, game time, etc)

[2019-08-30 08:57] rusbrain commented on #196
@fun4life1990 .rar, .7z, .zip archives are impossible to upload now. As well as Youtube/ Twitch/ Afreeca videos (VODs).

[2019-08-30 09:06] fun4life1990 commented on #9
@rusbrain
The parser that we use allows us to get the following data:
Name of the map, number of players; race, team, color, start position number and APM for each player.

We could also get the number of commands given by the players, the speed of the game, the type of game (Free for all, Top vs Bottom etc) and the start time of the game.

There is no duration of the game, but I think it can be c

[2019-08-30 09:09] fun4life1990 commented on #9
@rusbrain
As far as I understand, the application logic is such that one replay should contain one file or 1 video.
If so, then I can add the ability to upload the archive,
Server will unpack it and take the first of the replay files inside it.

Does this solution suit you?

[2019-08-30 10:37] rusbrain commented on #9
@fun4life1990 Would you please amend template to show all the data as requested?
Would you please parse historic data as well?

It's not suitable to parse only the first rep out of the pack. Please don't parse anything from the archive. Just mark that the file is an archive.

[2019-08-30 10:50] fun4life1990 commented on #9
@rusbrain
Yes, I will add missed fields to replay form.
Also I will parse historic data and set missed data.

[2019-08-30 16:24] ghost commented on #195
Current content processing is extremely bad
An another link in text or even an extra space char will misparse the whole content

The algorithm should be:
1. Extract [d]
2. Trim  the content
3. Find and process url (which is the last regex matched url)
4. Process text  styling with tags e.g. [c4][/c4]

There is also should be img `onerror` handling which can replace XHR request

The code also conta

[2019-09-02 09:12] fun4life1990 commented on #196
@rusbrain I have created PR with latest changes for replay.
I added new fields like players names and APMs and game date. I added them only for admin panel so you can check new functionality and send me your response. After that I will add these fields to front.

Also I could upload archives since now.

[2019-09-02 13:28] rusbrain opened #201 "Search is not working"
[Screenshot](https://ibb.co/jDYMfbD)

[2019-09-02 13:34] rusbrain commented on #196
@fun4life1990
[Replay upload still not working](https://ibb.co/b7t12tz)

[2019-09-02 15:09] ghost commented on #201
There is accessible routes and controllers for forum and replay search
[code]
It seems like news search is not implemented yet but with current architecture news are just a marked forum topics so the feature could be added with a small forum search enchantment (adding a &news=true for instance)

The bug caused by ignored dropdown options which should affect form url

[2019-09-02 15:58] ghost commented on #201
The problem appears to be even more frivolous
With current twisted pattern I didn't noticed a search wrapper

To fix that bug email input field should be changed to type text and name text attributes
That's all

[2019-09-02 16:49] rusbrain commented on #201
Not working. Searching input still expects an email address, not a text.

[2019-09-02 16:53] rusbrain commented on #196
@fun4life1990 [I can't upload archives](https://ibb.co/PNMwbX0)

[2019-09-02 16:56] widedeveloper commented on #196
@rusbrain , I just updated server again, Please check now

[2019-09-02 16:57] rusbrain commented on #196
@widedeveloper Please check yourself, and post a screenshot, that you are able to submit archives. Thanks.

[2019-09-02 17:56] ghost commented on #201
Please recheck input bug after force page refresh (ctrl + f5)
Change applied and works for me [IMG](https://user-images.githubusercontent.com/49626301/64129147-06eca680-cdc3-11e9-8370-8a2dfad0d866.png)

But now there is an another problem
News search isn't working because of news pagination component (probably related to #179 )

[2019-09-02 18:06] widedeveloper commented on #201
Yes that's server cache issue after install new package by composer. one min

[2019-09-02 18:51] widedeveloper commented on #196
okay I updated server and restart but not working the uploading
@fun4life1990 , it's working on your local dev environment correctly ?

[2019-09-02 18:53] widedeveloper commented on #201
Search is working correctly
and the pagination issue is also fixed.

[2019-09-02 19:59] ghost commented on #196
There is an actual bug with .rar files upload
It happens on client-side MIME re-validation with dropzone.js

[2019-09-02 20:54] ghost commented on #196
There is also  a weird bin name collision
[commit](https://github.com/rusbrain/reps2_beta1/commit/94daafa0fcfd236243709d29e1da5c41d65ce85e#diff-d597ee4dca808fd422975943606248a4) | [file](https://github.com/rusbrain/reps2_beta1/blob/develop/app/Services/Replay/ReplayParserService.php) | [current bin path](https://github.com/rusbrain/reps2_beta1/blob/develop/bin/screp)
Please either change that path

[2019-09-03 03:50] ghost commented on #196
1. Uncompressed/multipart MIME headers were missed in the whitelist

- I've **added all generic MIMEs** but an archives still could have an octal headers so maybe we should remove that validation

- It certainly makes no sense to do such rechecks on client side. **Dropdown.js MIMEs were replaced with just a dot extensions e.g. '.rar' '.7z'**

2. Replay size restriction is currently in server's int

[2019-09-03 08:34] widedeveloper opened #204 "Replay update not working on admin panel"
[screenshot](https://ibb.co/bJvX1cw)

[2019-09-03 09:23] widedeveloper commented on #187
I implemented bbcode convertor, and reviewing..
could you also check this and post issues if there are any problems?

[2019-09-03 09:24] #191 closed, assigned to nobody

[2019-09-03 09:43] fun4life1990 commented on #204
Maybe need to execute migration command

[2019-09-03 09:57] fun4life1990 commented on #196
@nl169 I wrote cli-command for cleaning db from unpublished replay files `replays:clean_files`

[2019-09-03 13:43] rusbrain commented on #204
@fun4life1990 Please show your test server screenshot confirming that everything is working.

[2019-09-03 13:44] #168 closed, assigned to fun4life1990

[2019-09-03 13:46] fun4life1990 commented on #204
![Снимок экрана 2019-09-03 в 16 45 07](https://user-images.githubusercontent.com/2016749/64178592-6b167580-ce6a-11e9-94f0-abc9b0f0267c.png)
![Снимок экрана 2019-09-03 в 16 46 26](https://user-images.githubusercontent.com/2016749/64178604-6f429300-ce6a-11e9-995b-ea8ef3444d50.png)

[2019-09-03 13:50] rusbrain commented on #187
@widedeveloper Yes, a lot of problems. Please check very carefully and fix.
- Flag and Race icons still add <img> code,
- Font type not working (this one may be removed completely),
- Font size not working,
- Font color not working,
- Smile not working.

[2019-09-03 13:51] #189 closed, assigned to fun4life1990, widedeveloper

[2019-09-03 13:51] rusbrain commented on #195
@widedeveloper expecting bugfix

[2019-09-03 13:54] rusbrain commented on #196
@fun4life1990 Replay archive upload still not working.
Would you consider a button or alike option to change the uploader from the previous format (all-manual data) and automatic format (parsed data). All-manual would have allowed adding archives and many more.

[2019-09-03 13:57] fun4life1990 commented on #196
@rusbrain Could you please give me archive which you upload, so i could reproduce this?

[2019-09-03 13:58] #201 closed, assigned to widedeveloper

[2019-09-03 15:02] rusbrain commented on #204
@fun4life1990 Would you please show APM and stuff on [second screenshot](https://user-images.githubusercontent.com/2016749/64178604-6f429300-ce6a-11e9-995b-ea8ef3444d50.png)?

[2019-09-03 15:02] rusbrain commented on #196
@fun4life1990 shared via upwork

[2019-09-03 15:11] widedeveloper commented on #187
could you please show me screenshot?
and please clear browser cache. I already fixed those issues and I did not find the bug on server

[2019-09-03 15:13] widedeveloper commented on #187
[screenshot](https://ibb.co/pbVQMpS)
[screehshot](https://ibb.co/9tYX3wY)
for font [screenshot](https://ibb.co/dccxdJ3)

[2019-09-03 15:17] fun4life1990 commented on #204
@rusbrain https://drive.google.com/open?id=1zGtOcxLbbUXgN6j9N1HUSMC5mqd2yMmO - Here is video with uploading .rep file with auto-set apm, players names and replay data
https://drive.google.com/open?id=1WJXy9WiMVezC4AYqPIz79X397HN-Kks3 - Here is video with uploading archive.

I found bug with automatic setting races and start locations on this (admin edit) page. I will fix this and create new Pull R

[2019-09-03 15:23] widedeveloper commented on #204
@fun4life1990 , Yes migration is excuted, update is working :)

[2019-09-04 07:00] fun4life1990 commented on #204
@widedeveloper I have added another one PR for this task. Could you please check it?

[2019-09-04 07:41] fun4life1990 commented on #9
@widedeveloper Could you please share me part of replays folder from live so i could test migration command which fills replays with new fields (APM, player name etc.)?

[2019-09-04 08:19] ghost commented on #195
I have no idea how broken img urls could become that big problem
Server validation is barely useful and potentially dangerous

Current vue solution is basically the same thing but on client  side
It's still possible to post a broken img through third-party socket.io client

A simple img onerror attribute can be putted on View side handling broken img links and potentially gather statistics from cl

[2019-09-04 08:33] ghost commented on #187
While initializing an old html topic editing html2bbcode processing takes 5+ seconds and breaks most of alignment (try to edit topic №42482 for example)

[2019-09-04 09:04] widedeveloper commented on #187
[screenshot](https://ibb.co/jLtGNch)
see here
it's not correct align ?

[2019-09-04 10:03] widedeveloper commented on #195
@nl169  so what is your idea ?

[2019-09-04 10:42] fun4life1990 commented on #204
@rusbrain Could you please recheck updates?
Please, clean your browser cache so frontend updates could be downloaded.

[2019-09-04 10:45] widedeveloper commented on #204
[screen](https://ibb.co/r7msLgx)
APM is updated on admin panel
but it does not emplemented on front replay page?
for example http://reps.ru/replay/15857

[2019-09-04 10:52] fun4life1990 commented on #204
@rusbrain APM, players names and replay date.
If it works how you need i will update front html to show this data too.

Also I need some replays folder (or it part) from live to properly test my migration for old replays. This migration will add new values to existing .rep replays.

[2019-09-04 15:09] widedeveloper commented on #195
@nl169 , so we should not send XMLHttpRequest  when render message on view side
I removed the valid request and instead of I added  use onerrror attr in image tag
`onerror="this.onerror=null;this.src='/images/incorrect_img.png';"`
but it's showing console error for loading image also.

[2019-09-04 15:12] fun4life1990 commented on #187
@widedeveloper @nl169 I think we could split content bu flag true/false in topics, comments and etc like "Old content/New content"

By default all new comments and topics create like new content or with bbcode
When we edit new content we also edit it like normal bbcode.

For old content we could create migration command and for items that will be migrated successfully (without missed data or misse

[2019-09-04 15:20] widedeveloper commented on #187
@fun4life1990 , good idea.
but i think it will be give some confusing rather in editing for old content (like with non-safe tag etc),
I think it's the better to run migrate to convert HTMLtoBBCODE for all old data by running  server background command,
so we dont need to encode/decode old html data on view side,
for new content will be as bbcode so we can use one type of rendering.
it's okay ?

[2019-09-04 15:39] fun4life1990 commented on #187
@widedeveloper Oh, I missed an important detail in my description!

We will just run such a command.
At the time of launch, content creation in BBCode can work at our front

Thus, if the development / debugging and testing with this command takes us a significant amount of time, the new content (and therefore the most viewed) will already be in a safe format.

I understand that this may look like

[2019-09-05 01:03] ghost commented on #187
@widedeveloper it doesn't match exactly even tho that topic is relatively new

Current bbcode branch uses an invalid `PheRum\BBCode\BBcodeParser;` class (I assume it supposed to be `BBCodeParser`) and has an unused `genert/bbcode`  package in composer.json

Please update that

I don't think rewraping data on View side is necessary especially with a different libraries

There is also an old topics

[2019-09-05 01:07] ghost commented on #195
Previous solutions doesn't handle it either

The security-wise issue was fixed

[2019-09-05 01:07] #195 closed, assigned to widedeveloper

[2019-09-05 05:47] widedeveloper commented on #187
@nl169
we are using PheRum library,
[code]
I will remove genert/bbcode
but in pherum/bbcodeparer, it will refactor  any link type which you mentioned above.

[2019-09-08 15:10] #196 closed, assigned to fun4life1990, widedeveloper

[2019-09-09 13:00] rusbrain commented on #187
@widedeveloper [Poor quality](https://ibb.co/Q8VmLfX)

[2019-09-10 09:41] widedeveloper commented on #132
implemented tournament show page
for example : [http://reps.ru/tournament/259/show](http://reps.ru/tournament/259/show)

[2019-09-10 09:41] widedeveloper commented on #132
where should we add new tournament?

[2019-09-12 09:08] widedeveloper commented on #132
[screenshot](https://ibb.co/dp6B4zf)

[2019-09-15 18:54] #9 closed, assigned to fun4life1990

[2019-09-15 18:58] rusbrain commented on #132
Registered users should be able to create tournament, although admin should approve them to be listed on the website.

[2019-09-15 19:03] widedeveloper commented on #132
Yes, but who will update the game result after finished all replays ?
Maybe after finish, it will need to upload .rep files for each mission and replays.
then winner and looser scores also
it will be able to by admin ? or owner user of tournemants ?

[2019-09-15 19:43] rusbrain commented on #132
The user should be able to report his games.

Please avoid further developing this module for some time, please.

[2019-09-17 09:37] widedeveloper commented on #187
Converted old html content of forum topics
[screenshot](https://ibb.co/JH215kK)
it failed to convert 5541 of 42476 topics in database because old topics contains irrigular HTML tags.
I need to handle manually about failed topic data. or create new parser for the specific tags more.

and i will implement these changes for another tables, replay, comment, stream, etc

[2019-09-24 05:09] widedeveloper commented on #187
@nl169 did you review code for this issue ?

[2019-09-27 06:28] rusbrain opened #206 "Replays not loading"
No replay name. Cannot open particular replay.
[Screenshot](https://ibb.co/w42Rw3K)

[2019-09-27 18:06] widedeveloper commented on #206
fixed issue